.post {
  font-size: var(--post-font-size);
  padding: var(--post-padding-y) var(--post-padding-x);

  @include mq('sm') {
    margin-left: calc(-1 * var(--base-space));
    margin-right: calc(-1 * var(--base-space));
    padding: var(--base-space);
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  @import "post-header";
  @import "post-content";
  @import "post-footer";
}