.post-content {
  img {
    margin-bottom: var(--base-space);
  }

  &__more {
    font-weight: 600;
  }

  audio {
    max-width: 100%;
    width: 100%;
  }

  video, iframe {
    max-width: 100%;
  }
}