.post-footer {
  margin-top: var(--base-space);
  padding-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(-1 * var(--post-padding-x));
    right: calc(-1 * var(--post-padding-x));
    border-bottom: 1px solid var(--color-gray-light);

    @include mq('sm') {
      left: calc(-1 * var(--base-space));
      right: calc(-1 * var(--base-space));
    }
  }

  &-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      line-height: 1;
      font-size: 14px;
      background: none;
      border: none;
      margin-left: 30px;
      outline: none;
      color: var(--color-text);
      --color: var(--color-text);
      transition: 0.15s ease-in-out;

      @include mq('sm') {
        font-size: 12px;
        margin-left: 20px;
      }

      &[aria-selected="true"] {
        --color: transparent;
        --background: var(--color-text);

        &:hover, &:active {
          --color: var(--color-primary);
          color: var(--color-primary);
          --background: transparent;
        }
      }

      svg {
        --icon-size: 18px;
        margin-right: 5px;

        path {
          transition: 0.15s ease-in-out;
        }
      }

      &:hover, &:active {
        color: var(--color-primary);
        --color: var(--color-primary);
      }
    }
  }
}