.post-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--base-space);

  &__image {
    a {
      width: 45px;
      height: 45px;
      border-width: 2px;
      border-color: var(--color-primary);
    }
  }

  &__info {
    margin-left: var(--base-space);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__author {
    a {
      font-size: var(--post-font-size);
      color: var(--color-text);
    }
  }

  &__date {
    line-height: 1;
    margin-top: 5px;
    font-size: 12px;
  }

  &__action {
    margin-left: auto;
    position: relative;

    button {
      display: inline-flex;
      border: none;
      background-color: transparent;
      padding: 4px;
      --color: var(--color-gray);
    }

    .drop-menu {
      width: 115px;

      &-list {
        a {
          padding: 4px 10px;
          font-size: 12px;
        }
      }
    }
  }
}