.wall-header {
  padding-top: var(--base-space);
  padding-bottom: var(--base-space);
  position: relative;
  border-bottom: 1px solid var(--color-gray-light);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq('md') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include mq('md') {
      width: 100%;
      align-items: flex-start;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    margin-left: -7px;
    margin-right: -7px;

    @include mq('md') {
      margin-top: 15px;
      padding-left: 115px;

      .person__mark img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__avatar {
    flex: 0 0 120px;
    max-width: 120px;
    height: 120px;
    filter: grayscale(1);

    @include mq('md') {
      flex: 0 0 100px;
      max-width: 100px;
      height: 100px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  &__name {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;

    @include mq('md') {
      font-size: 22px;
    }

    @include mq('sm') {
      font-size: 18px;
    }
  }

  &__lifetime {
    font-size: 16px;
    font-weight: 600;

    @include mq('md') {
      font-size: 14px;
    }
  }

  &__views {
    margin-top: 20px;

    span {
      font-weight: 600;
      margin-left: 5px;
    }
    @include mq('md') {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}