.person-wall-page {
  .content {
    margin-top: 0;
  }
}

@import "wall-header";

a.person__mark {
  transition: 0.15s ease-in-out;

  @include hover() {
    transition: 0.25s ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}

.person__mark {
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 7px;
  margin-left: 7px;

  img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-red);
  }
}

.wall-body {
  margin-top: 20px;

  .container {
    display: grid;
    grid-template-columns: 270px 1fr;
    align-items: flex-start;
    grid-gap: 60px;
    position: relative;
  }

  .sidebar {
    position: sticky;
    top: calc(var(--header-height) + 25px);
    z-index: 50;
  }

  @include mq("lg") {
    .container {
      display: block;
      grid-gap: 0;
      grid-template-columns: initial;
    }
  }

  .posts {
    .posts-new {
      display: flex;
      padding: var(--post-padding-y) var(--post-padding-x);

      @include mq('sm') {
        margin-left: calc(-1 * var(--base-space));
        margin-right: calc(-1 * var(--base-space));
        padding: var(--base-space);
        border-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      .user-avatar {
        flex: 0 0 40px;
        border-color: var(--color-primary);
      }

      &__content {
        padding-left: var(--base-space);
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &__message {
        position: relative;

        textarea {
          max-height: 200px;
        }
      }

      &__actions {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-flex;

        button {
          height: 35px;
          width: 35px;
          border: none;
          padding: 5px;
          --color: var(--color-gray-dark-2);
          --icon-size: 20px;
        }
      }

      .new-post-files:not(.visible) {
        display: none;
      }
    }
  }
}