@import "comment";

.comments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__more {
    margin-top: var(--base-space);
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-dark);
    display: inline-block;
  }

  &__new-message {
    width: 100%;
    display: grid;
    grid-template-columns: 45px 1fr 40px;

    @include mq('sm') {
      grid-template-columns: 35px 1fr 40px;

      .comment__image {
        margin-top: 5px;
      }
    }

    .form-item_textarea {
      margin-top: 3px;
      margin-left: var(--base-space);
    }

    textarea {
      min-height: 40px;
      height: 40px;
      line-height: 1.35;
    }

    button {
      height: 45px;
      width: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
      padding: 5px;
      --color: var(--color-gray-dark-2);
      --icon-size: 20px;
    }
  }
}