.comment {
  width: 100%;
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-gap: var(--base-space);
  position: relative;

  @include mq('sm') {
    grid-template-columns: 35px 1fr;
  }

  &:not(:last-of-type) {
    padding-bottom: var(--base-space);
    margin-bottom: var(--base-space);
    border-bottom: 1px solid var(--color-gray-light);
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;

    button {
      --color: var(--color-gray);
    }
  }

  &__image {
    width: 45px;
    height: 45px;
    border-color: var(--color-primary);

    @include mq('sm') {
      width: 35px;
      height: 35px;
    }
  }

  &__user-name {
    margin-bottom: 10px;
    font-weight: 700;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: 1;
    font-size: 14px;

    @include mq('sm') {
      flex-direction: column;
      align-items: flex-start;
      font-size: 13px;
    }

    a {
      color: var(--color-text);
      line-height: 1;
    }
  }

  &__message {
    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__body-footer {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    span {
      color: var(--color-gray);
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__date {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-gray-dark);
  }

  &__write-answer {
    font-size: 12px;
  }

  &__answers {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--color-gray-light);
  }

  &_answer {
    grid-template-columns: 35px 1fr;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .comment__image {
      width: 35px;
      height: 35px;
      border-width: 2px;
    }

    .comment-parent {
      margin-left: 5px;
      font-size: 12px;

      @include mq('sm') {
        margin-left: 0;
        margin-top: 3px;
      }

      a {
        margin-left: 5px;
      }
    }
  }
}