.search-form {
  .card-header {
    display: none;
  }

  .card-footer {
    align-items: center;
    flex-direction: column;

    .btn {
      margin-bottom: 10px;

      svg {
        --icon-size: 14px;
        --color: #fff;
        margin-right: 10px;
      }
    }
  }

  @include mq("md") {
    position: fixed;
    z-index: 1000;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    transform: translateY(15px);
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease-in-out;

    &.is-open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    &__form {
      height: 100%;
    }

    .card-header {
      display: flex;

      button {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
      }
    }

    .card-body {
      overflow-y: auto;
      max-height: calc(100% - 51px - 69px);
    }

    .card-footer {
      flex-direction: row-reverse;

      .btn {
        width: auto;
        margin-bottom: 0;
        margin-left: 20px;
      }
    }
  }
}