.search-results {
  &-item {
    display: flex;
    padding-top: calc(var(--base-space) * 4 / 3);
    padding-bottom: calc(var(--base-space) * 4 / 3);

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--color-gray-light);
    }

    &__img {
      --size-avatar: 100px;
      flex: 0 0 var(--size-avatar);
      width: var(--size-avatar);
      height: var(--size-avatar);
      border-color: var(--color-primary);

      @include mq('lg') {
        --size-avatar: 80px;
      }

      @include mq('sm') {
        --size-avatar: 40px;
      }
    }

    &__content {
      padding-right: 20px;
      position: relative;
      flex-grow: 1;
      padding-left: var(--base-space);

      @include mq("sm") {
        padding-right: 0;
      }
    }

    &__name {
      margin-bottom: 10px;

      @include mq("sm") {
        padding-right: 15px;
      }

      a {
        color: var(--color-text);

        @include mq("sm") {
          font-size: 14px;
        }
      }
    }

    &__years {
      color: var(--color-gray);
      font-weight: 600;
      margin-bottom: 10px;

      @include mq("sm") {
        font-size: 12px;
      }
    }

    &__place-of-birth,
    &__place-death {
      span {
        margin-right: 5px;
        font-weight: 600;
      }

      @include mq("sm") {
        font-size: 12px;
      }
    }

    &__place-of-birth {
      margin-bottom: 5px;
    }


    .drop-actions {
      position: absolute;
      top: 0;
      right: 0;
      --color: var(--color-gray);
    }
  }
}