include ../mixins/drop-menu.pug
include ../mixins/form/textarea.pug

#chat.chat(aria-hidden="true")
    .chat-wrap
        .chat-header
            svg
                use(xlink:href="#icon-chat")
            | Чат
            button#chat-close-trigger.btn.btn-icon
                svg
                    use(xlink:href="#icon-cancel")
        .chat-body
            .chat-messages
                .chat-group-message
                    .chat-message
                        .chat-message__header
                            .chat-message__user-avatar.user-avatar
                                img(src="/images/user-avatar-2.png")
                            .chat-message__user-name Василий Петров
                            .chat-message__actions.drop-actions
                                button.btn.btn-icon(data-drop-menu-trigger)
                                    svg
                                        use(xlink:href="#icon-menu-kebab")
                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                        .chat-message__body
                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                            | Кстати, сторонники тоталит ыаы варизм

                .chat-group-message
                    .chat-message.chat-message_your
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизм

                    .chat-message.chat-message_your
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизм

                    .chat-message.chat-message_your
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизм

                .chat-group-message
                    .chat-message
                        .chat-message__header
                            .chat-message__user-avatar.user-avatar
                                img(src="/images/user-avatar-2.png")
                            .chat-message__user-name Василий Петров
                            .chat-message__actions.drop-actions
                                button.btn.btn-icon(data-drop-menu-trigger)
                                    svg
                                        use(xlink:href="#icon-menu-kebab")
                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                        .chat-message__body
                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                            | Кстати, сторонники тоталит ыаы варизм

                .chat-group-message
                    .chat-message
                        .chat-message__header
                            .chat-message__user-avatar.user-avatar
                                img(src="/images/user-avatar-2.png")
                            .chat-message__user-name Василий Петров
                            .chat-message__actions.drop-actions
                                button.btn.btn-icon(data-drop-menu-trigger)
                                    svg
                                        use(xlink:href="#icon-menu-kebab")
                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                        .chat-message__body
                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                            | Кстати, сторонники тоталит ыаы варизм

                .chat-group-message
                    .chat-message.chat-message_your
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизм


                .chat-group-message
                    .chat-message
                        .chat-message__header
                            .chat-message__user-avatar.user-avatar
                                // without-avatar
                            .chat-message__user-name Василий Петров
                            .chat-message__actions.drop-actions
                                button.btn.btn-icon(data-drop-menu-trigger)
                                    svg
                                        use(xlink:href="#icon-menu-kebab")
                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                        .chat-message__body
                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                            | Кстати, сторонники тоталит ыаы варизм


                .chat-group-message
                    .chat-message.chat-message_your
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизм

            .chat-new-message-field
                form.chat-new-message-field__form
                    +textarea({ name: 'message', placeholder: 'Введите сообщение...' })
                    button.btn.btn-icon(type="submit")
                        svg
                            use(xlink:href="#icon-send")
