include ../mixins/complaint.pug
include ../mixins/post/post.pug

div
    .card-header.px-0.pt-0
        h2.ma-0 Жалобы
    .card-body.px-0
        +complaint
            +post({ type: 'text', isComments: false })
        +complaint
            +post({ type: 'image', isComments: false })
        +complaint
            +post({ type: 'audio', isComments: false })
        +complaint
            +post({ type: 'image-text', isComments: false })
        +complaint
            +post({ type: 'video', isComments: false })
        +complaint
            +post({ type: 'iframe', isComments: false })
