.fixed-actions
    button.fixed-actions__toggle
        svg
            use(xlink:href="#icon-menu-kebab")
    ul.fixed-actions__list
        li.fixed-actions__item
            a(
                href="javascript:;",
                data-tippy-trigger="click",
                data-tippy-interactive="true",
                data-tippy-allowHTML="true",
                data-tippy-content="<a class='btn' target='_blank' href='https://atomiks.github.io/tippyjs/v6/all-props/'>Полный список настроек</a>"
            )
                svg
                    use(xlink:href="#icon-plus")
            span 20
        li.fixed-actions__item
            script(src="https://yastatic.net/share2/share.js")
            a.ya-share2(href="javascript:;", data-curtain, data-popup-direction="auto", data-shape="round", data-limit="0", data-more-button-type="short", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,twitter,viber,whatsapp")
            span 20
        li.fixed-actions__item
            a(href="javascript:;")
                img(src="./images/person-icon-my-list.png")
            span 20
        li.fixed-actions__item
            a(href="javascript:;")
                img(src="./images/person-icon-cry.png")
            span 20
        li.fixed-actions__item
            a(href="javascript:;")
                img(src="./images/person-icon-candle.png")
            span.red 200
        li.fixed-actions__item
            a(href="javascript:;", data-fancybox, data-src="#modal_gifts")
                img(src="./images/person-icon-hands.png")
            span.red 125

include ./modal/gifts.pug