footer.footer
    .container
        .footer-container
            .footer-links
                a(href="javascript:;")
                    | Связаться
                    br
                    |  с администратором
                    br
                    |  страницы
                a(href="javascript:;")
                    | Пожаловаться
                    br
                    |  администратору
                    br
                    |  портала
                a(href="javascript:;") Вопросы-ответы
            .footer-statistics
                .footer-statistics__item
                    span Сейчас на станице посетителей:
                    strong 4
                .footer-statistics__item
                    span
                        | Всего посещений за
                        select
                            option 2020
                            option 2021
                            option 2022
                        |  год:
                    strong 18

include ./fixed-actions.pug