.friends-list
    .friends-list-wrap
        button#chat-open-trigger.friends-list__open-chat.btn.btn-icon
            svg
                use(xlink:href="#icon-chat")
        .friends-list__container
            .friends-list__wrapper
                ul.friends-list__user-list
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                // without avatar
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                // without avatar
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                // without avatar
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                // without avatar
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                img(src="/images/user-avatar-2.png")
                    li.friends-list-user
                        a(href="javascript:;")
                            .user-avatar
                                // without avatar