header.header
    .container-fluid
        .header-wrap
            .header-container
                a.header__logo(href="/") LOGO
                a.header__mobile-menu-btn(href="#mobile-menu" data-not-anchor)
                    svg
                        use(xlink:href="#icon-menu")
            nav#mobile-menu.mobile-menu
                ul
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-entrance")
                            | Вход
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-search")
                            | Поиск
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-add")
                            | Создать страницу
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-list")
                            | Мой список
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-information")
                            | Вопросы и ответы

    script.
        document.addEventListener('DOMContentLoaded', function() {
            new Mmenu('#mobile-menu', {
                navbar: {
                    title: 'Меню',
                },
                extensions: [
                    'position-right',
                    'border-full',
                    'fx-menu-slide',
                    'fx-panels-slide-100',
                    'pagedim-black',
                    'shadow-page',
                ],
            });
        });