include ../mixins/drop-menu.pug

header.header
    .container-fluid
        .header-wrap
            .header-container
                a.header__logo(href="/") LOGO

                a.btn.btn-icon.header__search(aria-label="Поиск")
                    svg
                        use(xlink:href="#icon-search")

                a.header__mobile-menu-btn(href="#mobile-menu" data-not-anchor)
                    svg
                        use(xlink:href="#icon-menu")
            nav#mobile-menu.mobile-menu
                ul
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-avatar")
                            | Личный кабинет
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-search")
                            | Поиск
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-add-folder")
                            | Создать папку

                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-book")
                            | Книга памяти
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-star")
                            | Избранное
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-folder")
                            | Название папки
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-warning")
                            | Жалобы
                    li
                        a(href="javascript:;", data-autoplay-posts)
                            | Автопросмотр
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-list")
                            | Мой список
                    li
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-information")
                            | Вопросы и ответы

            .header-user(data-drop-menu-trigger="header-user-menu")
                a.header-user__name(href="javascript:;") Алексей Кротовский
                .header-user-avatar
                    .header-user-avatar__img.user-avatar
                        img(src="/images/user-avatar.png")

                +dropMenu(['Профиль', 'Настройки', 'Выход'], 'right', 'header-user-menu')

    script.
        document.addEventListener('DOMContentLoaded', function () {
            new Mmenu('#mobile-menu', {
                navbar: {
                    title: 'Меню',
                },
                extensions: [
                    'position-right',
                    'border-full',
                    'fx-menu-slide',
                    'fx-panels-slide-100',
                    'pagedim-black',
                    'shadow-page',
                ],
                navbars: [
                    {
                        position: 'top',
                        content: [`
                               <div class="header-user">
                                    <div class="header-user-avatar">
                                        <img src="/images/user-avatar.png" alt="">
                                    </div>
                                    <a href="javascript:;" class="header-user__name">Алексей Кротовский</a>
                               </div>

                        `]
                    },
                ],
            });
        });