svg(style="display: none;" fill="none" xmlns="http://www.w3.org/2000/svg")
    symbol#icon-home(viewBox='0 0 478 478')
        path(fill="var(--color, #333)" d='M472.847,226.846l-34.116-34.116L250.998,4.997c-6.664-6.663-17.468-6.663-24.132,0L39.132,192.73L4.999,226.864      c-6.548,6.78-6.361,17.584,0.419,24.132c6.614,6.388,17.099,6.388,23.713,0l4.983-5.018v214.801      c0,9.426,7.641,17.067,17.067,17.067h375.467c9.426,0,17.067-7.641,17.067-17.067V245.978l5,5.001      c6.78,6.548,17.584,6.36,24.132-0.419C479.235,243.946,479.235,233.46,472.847,226.846z M290.115,443.713h-102.4V307.179h102.4      V443.713z M409.581,443.713h-85.333v-153.6c0-9.426-7.641-17.067-17.067-17.067H170.648c-9.426,0-17.067,7.641-17.067,17.067      v153.6H68.248V211.845L238.914,41.178l170.667,170.667V443.713z')
    symbol#icon-search(viewBox='0 0 57 57')
        path(fill="var(--color, #333)" d='M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23\
      s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92\
      c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17\
      s-17-7.626-17-17S14.61,6,23.984,6z')
    symbol#icon-chat(viewBox='0 0 512 512')
        path(fill="var(--color, #333)" d='M467,75.993h-45v-15c0-24.813-20.187-45-45-45H45c-24.813,0-45,20.187-45,45v240c0,24.813,20.187,45,45,45h45v75\
      c0,13.384,16.222,19.992,25.606,10.606l25.607-25.606h169.574l85.606,85.606c9.389,9.393,25.606,2.8,25.606-10.606v-75h45\
      c24.813,0,45-20.187,45-45v-240C512,96.18,491.813,75.993,467,75.993z M120,384.78v-53.787c0-8.284-6.716-15-15-15H45\
      c-8.271,0-15-6.729-15-15v-240c0-8.271,6.729-15,15-15h332c8.271,0,15,6.729,15,15v240c0,8.271-6.729,15-15,15H195\
      c-3.979,0-7.793,1.581-10.606,4.394L120,384.78z M482,360.993c0,8.271-6.729,15-15,15h-60c-8.284,0-15,6.716-15,15v53.787\
      l-64.394-64.393c-2.813-2.813-6.628-4.394-10.606-4.394H171.213l30-30H377c24.813,0,45-20.187,45-45v-195h45\
      c8.271,0,15,6.729,15,15V360.993z')
        path(fill="var(--color, #333)" d='M287,105.993H75c-8.284,0-15,6.716-15,15s6.716,15,15,15h212c8.284,0,15-6.716,15-15S295.284,105.993,287,105.993z')
        path(fill="var(--color, #333)" d='M347,165.993H75c-8.284,0-15,6.716-15,15s6.716,15,15,15h272c8.284,0,15-6.716,15-15S355.284,165.993,347,165.993z')
        path(fill="var(--color, #333)" d='M227,225.993H75c-8.284,0-15,6.716-15,15s6.716,15,15,15h152c8.284,0,15-6.716,15-15S235.284,225.993,227,225.993z')
    symbol#icon-send(viewBox='0 0 512 512')
        path(fill="var(--color, #333)" d='M507.608,4.395c-4.243-4.244-10.609-5.549-16.177-3.321L9.43,193.872c-5.515,2.206-9.208,7.458-9.42,13.395\
      c-0.211,5.936,3.101,11.437,8.445,14.029l190.068,92.181l92.182,190.068c2.514,5.184,7.764,8.455,13.493,8.455\
      c0.178,0,0.357-0.003,0.536-0.01c5.935-0.211,11.189-3.904,13.394-9.419l192.8-481.998\
      C513.156,15.001,511.851,8.638,507.608,4.395z M52.094,209.118L434.72,56.069L206.691,284.096L52.094,209.118z M302.883,459.907\
      l-74.979-154.599l228.03-228.027L302.883,459.907z')
    symbol#icon-menu(viewBox='0 0 512 512')
        path(fill="var(--color, #333)" d='M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z')
        path(fill="var(--color, #333)" d='M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z')
        path(fill="var(--color, #333)" d='M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20    C512,404.954,503.046,396,492,396z')
    symbol#icon-cancel(viewBox='0 0 512 512')
        path(fill="var(--color, #333)" d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717\
      L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859\
      c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287\
      l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285\
      L284.286,256.002z')
    symbol#icon-cancel-bold(width='349px' height='349px' viewBox='0 0 349 349')
        path(fill="var(--color, #333)" d='M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85   c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563   c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85   l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554   L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z')
    symbol#icon-add-folder(height='512px' viewBox='0 -17 512 512' width='512px')
        path(fill="var(--color, #333)" d='m494.425781 70.609375c-11.332031-11.328125-26.394531-17.570313-42.414062-17.570313-.003907 0-.007813 0-.011719 0l-193.703125-.003906c-5.4375.054688-10.40625-2.59375-13.328125-6.972656l-30.710938-46.0625h-154.257812c-33.085938 0-60 26.914062-60 60v322.074219c0 33.082031 26.914062 60 60 60h204v-40h-204c-11.027344 0-20-8.972657-20-20v-216.03125c0-5.34375 2.082031-10.363281 5.859375-14.144531 3.777344-3.773438 8.796875-5.855469 14.144531-5.855469h.003906l153.515626-.007813 31.285156-45.519531.15625-.230469c2.84375-4.269531 8.207031-7.25 13.035156-7.25v-.003906c.066406 0 .136719.003906.207031.003906h.136719l193.660156.003906c5.339844 0 10.359375 2.078126 14.136719 5.855469 3.777344 3.777344 5.859375 8.800781 5.859375 14.140625v200h40v-200c0-16.027344-6.242188-31.09375-17.574219-42.425781zm-282.65625 7.355469-19.292969 28.070312-132.464843.007813c-.003907 0-.007813 0-.011719 0-6.921875 0-13.660156 1.167969-20 3.40625v-49.449219c0-11.027344 8.972656-20 20-20h132.851562l18.835938 28.253906c1.148438 1.722656 2.398438 3.355469 3.714844 4.921875-1.285156 1.527344-2.511719 3.117188-3.632813 4.789063zm216.230469 275.070312h84v40h-84v84h-40v-84h-84v-40h84v-84h40zm0 0')
    symbol#icon-book(viewBox='0 0 480 480')
        path(fill="var(--color, #333)" d='M472,88.014h-32v-40c0.016-4.418-3.553-8.013-7.972-8.028c-0.234-0.001-0.467,0.009-0.7,0.028l-20.872,1.76\
      c-50.615,4.186-100.259,16.291-147.12,35.872L240,87.35l-23.312-9.672c-46.866-19.584-96.516-31.691-147.136-35.88l-20.88-1.784\
      c-2.231-0.176-4.435,0.58-6.088,2.088c-1.653,1.521-2.591,3.666-2.584,5.912v40H8c-4.418,0-8,3.582-8,8v336c0,4.418,3.582,8,8,8\
      h464c4.418,0,8-3.582,8-8v-336C480,91.596,476.418,88.014,472,88.014z M16,424.03V104.014h24v280c-0.015,4.166,3.169,7.646,7.32,8\
      l21.528,1.84c5.867,0.491,11.733,1.096,17.6,1.816c1.96,0.232,3.904,0.544,5.864,0.8c3.88,0.52,7.76,1.04,11.624,1.656\
      c2.304,0.368,4.6,0.8,6.896,1.208c3.504,0.616,7.008,1.232,10.496,1.92c2.4,0.48,4.8,1.008,7.2,1.528\
      c3.368,0.72,6.736,1.456,10.088,2.256c2.4,0.576,4.84,1.192,7.256,1.808c3.304,0.848,6.6,1.712,9.888,2.624\
      c2.4,0.672,4.8,1.376,7.2,2.08c3.264,0.965,6.52,1.968,9.768,3.008c2.379,0.757,4.752,1.536,7.12,2.336\
      c3.272,1.096,6.52,2.248,9.768,3.424c2.304,0.8,4.616,1.672,6.904,2.544c0.992,0.376,1.976,0.8,2.96,1.168H16z M232,144.014\
      l-33.832-14.04c-32.373-13.531-66.261-23.107-100.928-28.52c-4.343-0.81-8.521,2.055-9.331,6.398s2.055,8.521,6.398,9.331\
      c0.15,0.028,0.301,0.052,0.452,0.071c33.398,5.222,66.045,14.443,97.24,27.464l40,16.608v38.688l-33.832-14.04\
      c-32.373-13.531-66.261-23.107-100.928-28.52c-4.343-0.81-8.521,2.055-9.331,6.398s2.055,8.521,6.398,9.331\
      c0.15,0.028,0.301,0.052,0.452,0.071c33.398,5.222,66.045,14.443,97.24,27.464l40,16.608v38.688l-33.832-14.04\
      c-32.373-13.531-66.261-23.107-100.928-28.52c-4.343-0.81-8.521,2.055-9.331,6.398c-0.81,4.343,2.055,8.521,6.398,9.331\
      c0.15,0.028,0.301,0.052,0.452,0.071c33.398,5.222,66.045,14.443,97.24,27.464l40,16.608v38.688l-33.832-14.04\
      c-32.373-13.531-66.261-23.107-100.928-28.52c-4.343-0.81-8.521,2.055-9.331,6.398c-0.81,4.343,2.055,8.521,6.398,9.331\
      c0.15,0.028,0.301,0.052,0.453,0.071c33.398,5.222,66.045,14.443,97.24,27.464l40,16.608v38.728\
      c-43.243-17.733-88.629-29.705-134.992-35.608c-4.385-0.557-8.391,2.547-8.948,6.932s2.547,8.391,6.932,8.948\
      c46.282,5.876,91.557,17.986,134.592,36l2.4,1.008v34.68l-14.752-6.16c-46.83-19.62-96.45-31.768-147.048-36L56,376.67V56.718\
      l12.208,1.024c48.966,4.046,96.993,15.754,142.328,34.696L232,101.35V144.014z M248,420.014v-34.656l3.352-1.4\
      c42.77-17.781,87.721-29.777,133.664-35.672c4.397-0.437,7.606-4.356,7.169-8.753c-0.437-4.397-4.356-7.606-8.753-7.169\
      c-0.15,0.015-0.299,0.034-0.448,0.057c-46.355,5.958-91.733,17.945-134.984,35.656v-38.752l39.896-16.56\
      c31.224-13.054,63.908-22.297,97.344-27.528c4.365-0.685,7.349-4.779,6.664-9.144c-0.685-4.365-4.779-7.349-9.144-6.664\
      c-34.7,5.43-68.619,15.022-101.024,28.568L248,312.014v-38.688l39.896-16.56c31.224-13.054,63.908-22.297,97.344-27.528\
      c4.365-0.685,7.349-4.779,6.664-9.144c-0.685-4.365-4.779-7.349-9.144-6.664c-34.7,5.43-68.619,15.022-101.024,28.568L248,256.014\
      v-38.688l39.896-16.56c31.224-13.054,63.908-22.297,97.344-27.528c4.365-0.685,7.349-4.779,6.664-9.144\
      c-0.685-4.365-4.779-7.349-9.144-6.664c-34.7,5.43-68.619,15.022-101.024,28.568L248,200.014v-38.688l39.896-16.56\
      c31.224-13.054,63.908-22.297,97.344-27.528c4.365-0.685,7.349-4.779,6.664-9.144c-0.685-4.365-4.779-7.349-9.144-6.664\
      c-34.7,5.43-68.619,15.022-101.024,28.568L248,144.014V101.35l21.488-8.92c45.327-18.938,93.346-30.643,142.304-34.688L424,56.718\
      v319.928l-13.144,1.072c-50.629,4.203-100.293,16.279-147.2,35.792L248,420.014z M464,424.014H280.64\
      c1.096-0.424,2.184-0.872,3.28-1.288c2.4-0.92,4.8-1.792,7.256-2.664c3.136-1.136,6.285-2.237,9.448-3.304\
      c2.464-0.8,4.944-1.6,7.416-2.4c3.16-1.008,6.336-1.968,9.512-2.912c2.496-0.736,5-1.464,7.504-2.152\
      c3.2-0.896,6.4-1.736,9.68-2.56c2.48-0.632,4.968-1.264,7.464-1.856c3.328-0.8,6.68-1.52,10.032-2.232\
      c2.4-0.52,4.8-1.056,7.248-1.536c3.52-0.696,7.056-1.312,10.584-1.928c2.288-0.4,4.568-0.8,6.864-1.2\
      c3.944-0.624,7.896-1.16,11.856-1.688c1.896-0.248,3.792-0.552,5.696-0.8c5.867-0.709,11.763-1.315,17.688-1.816l20.488-1.664\
      c4.16-0.342,7.358-3.826,7.344-8v-280h24V424.014z')
    symbol#icon-folder(viewBox='0 -20 512 512')
        path(fill="var(--color, #333)" d='m465 81.433594v-21.433594c0-33.085938-26.914062-60-60-60h-345c-33.085938 0-60 26.914062-60 60v352c0 33.085938 26.914062 60 60 60h392c33.085938 0 60-26.914062 60-60v-272c0-28.617188-20.148438-52.609375-47-58.566406zm-40-21.433594v20h-90v-20c0-7.011719-1.21875-13.738281-3.441406-20h73.441406c11.027344 0 20 8.972656 20 20zm-150-20c11.027344 0 20 8.972656 20 20v20h-91v-20c0-7.011719-1.21875-13.738281-3.441406-20zm197 372c0 11.027344-8.972656 20-20 20h-392c-11.027344 0-20-8.972656-20-20v-352c0-11.027344 8.972656-20 20-20h84c11.027344 0 20 8.972656 20 20v60h288c11.027344 0 20 8.972656 20 20zm0 0')
    symbol#icon-star(viewBox='0 0 512 512')
        path(fill="var(--color, #333)" d='M511.266 197.256C509.502 191.825 504.808 187.868 499.158 187.047L340.436 163.982L269.452 20.155C266.925 15.035 261.711 11.794 256.001 11.794C250.292 11.794 245.077 15.036 242.55 20.155L171.562 163.983L12.8429 187.047C7.19289 187.868 2.49889 191.826 0.73489 197.256C-1.03011 202.686 0.44189 208.647 4.52989 212.632L119.378 324.587L92.2699 482.67C91.3049 488.297 93.6189 493.985 98.2379 497.34C102.856 500.695 108.978 501.138 114.035 498.482L256 423.846L397.961 498.483C400.156 499.637 402.552 500.206 404.94 500.206C408.05 500.206 411.146 499.24 413.758 497.341C418.377 493.985 420.691 488.298 419.726 482.67L392.61 324.587L507.47 212.633C511.559 208.647 513.031 202.686 511.266 197.256ZM366.023 308.608C362.487 312.054 360.873 317.02 361.709 321.886L385.02 457.784L262.982 393.622C258.612 391.325 253.391 391.325 249.021 393.622L126.976 457.785L150.28 321.885C151.114 317.019 149.501 312.055 145.967 308.609L47.2359 212.365L183.681 192.536C188.567 191.826 192.789 188.758 194.975 184.331L256 60.685L317.023 184.33C319.209 188.757 323.431 191.826 328.317 192.536L464.764 212.364L366.023 308.608Z')
        path(fill="var(--background, transparent)" d='M511.266 197.256C509.502 191.825 504.808 187.868 499.158 187.047L340.436 163.982L269.452 20.155C266.925 15.035 261.711 11.794 256.001 11.794C250.292 11.794 245.077 15.036 242.55 20.155L171.562 163.983L12.8429 187.047C7.19289 187.868 2.49889 191.826 0.73489 197.256C-1.03011 202.686 0.44189 208.647 4.52989 212.632L119.378 324.587L92.2699 482.67C91.3049 488.297 93.6189 493.985 98.2379 497.34C102.856 500.695 108.978 501.138 114.035 498.482L256 423.846L397.961 498.483C400.156 499.637 402.552 500.206 404.94 500.206C408.05 500.206 411.146 499.24 413.758 497.341C418.377 493.985 420.691 488.298 419.726 482.67L392.61 324.587L507.47 212.633C511.559 208.647 513.031 202.686 511.266 197.256Z')
    symbol#icon-comment(viewBox='-21 -47 682.66669 682')
        path(fill="var(--color, #333)" d='m552.011719-1.332031h-464.023438c-48.515625 0-87.988281 39.464843-87.988281 87.988281v283.972656c0 48.414063 39.300781 87.816406 87.675781 87.988282v128.863281l185.191407-128.863281h279.144531c48.515625 0 87.988281-39.472657 87.988281-87.988282v-283.972656c0-48.523438-39.472656-87.988281-87.988281-87.988281zm50.488281 371.960937c0 27.835938-22.648438 50.488282-50.488281 50.488282h-290.910157l-135.925781 94.585937v-94.585937h-37.1875c-27.839843 0-50.488281-22.652344-50.488281-50.488282v-283.972656c0-27.84375 22.648438-50.488281 50.488281-50.488281h464.023438c27.839843 0 50.488281 22.644531 50.488281 50.488281zm0 0')
        path(fill="var(--color, #333)" d='m171.292969 131.171875h297.414062v37.5h-297.414062zm0 0')
        path(fill="var(--color, #333)" d='m171.292969 211.171875h297.414062v37.5h-297.414062zm0 0')
        path(fill="var(--color, #333)" d='m171.292969 291.171875h297.414062v37.5h-297.414062zm0 0')
    symbol#icon-menu-kebab(viewBox='0 0 512 512')
        circle(fill='var(--color, #333)' cx='256' cy='256' r='64')
        circle(fill='var(--color, #333)' cx='256' cy='448' r='64')
        circle(fill='var(--color, #333)' cx='256' cy='64' r='64')
    symbol#icon-clip(viewBox='0 0 472 472')
        path(fill='var(--color, #333)' d='M431.666,49.412c-51.692-50.578-134.33-50.567-186.009,0.025L28.911,266.184c-39.192,40.116-38.443,104.407,1.673,143.599    c39.456,38.548,102.47,38.548,141.926,0l196.267-196.267c25.515-25.515,25.515-66.884,0-92.399    c-25.515-25.515-66.884-25.515-92.399,0L88.644,308.85c-6.548,6.78-6.36,17.584,0.42,24.132c6.614,6.388,17.099,6.388,23.713,0    L300.51,145.249c12.449-11.926,32.209-11.501,44.134,0.948c11.565,12.073,11.565,31.114,0,43.187L148.378,385.65    c-26.514,26.137-69.197,25.831-95.334-0.683c-25.873-26.246-25.873-68.405,0-94.651L269.79,73.569    c38.608-38.622,101.214-38.633,139.836-0.026c38.622,38.607,38.633,101.214,0.026,139.836L192.905,430.126    c-7.159,6.131-7.993,16.905-1.862,24.064c6.131,7.159,16.905,7.993,24.064,1.862c0.668-0.572,1.29-1.194,1.862-1.862    l216.747-216.747C485.073,184.954,484.156,100.769,431.666,49.412z')
    symbol#icon-filter(viewbox='0 0 512 512')
        path(fill='var(--color, #333)' d='m208 512c-2.582031 0-5.183594-.617188-7.550781-1.898438-5.207031-2.773437-8.449219-8.214843-8.449219-14.101562v-205.226562c0-7.464844-3.136719-14.636719-8.640625-19.667969l-171.261719-156.867188c-7.703125-7.082031-12.097656-17.109375-12.097656-27.519531v-49.386719c0-20.585937 16.746094-37.332031 37.332031-37.332031h437.335938c20.585937 0 37.332031 16.746094 37.332031 37.332031v49.386719c0 10.410156-4.394531 20.4375-12.074219 27.519531l-171.242187 156.886719c-5.546875 5.011719-8.683594 12.183594-8.683594 19.648438v129.792968c0 12.5-6.207031 24.125-16.617188 31.058594l-86.507812 57.664062c-2.667969 1.816407-5.761719 2.710938-8.875 2.710938zm-170.667969-480c-2.941406 0-5.332031 2.390625-5.332031 5.332031v49.386719c0 1.496094.640625 2.925781 1.75 3.949219l171.199219 156.839843c12.097656 11.09375 19.050781 26.859376 19.050781 43.265626v175.316406l61.632812-41.085938c1.472657-.984375 2.367188-2.648437 2.367188-4.4375v-129.792968c0-16.425782 6.933594-32.191407 19.070312-43.265626l171.203126-156.863281c1.085937-1 1.726562-2.429687 1.726562-3.925781v-49.386719c0-2.941406-2.390625-5.332031-5.332031-5.332031zm0 0')
    symbol#icon-warning(viewbox='0 0 512 512')
        path(fill='var(--color, #333)' d='M503.839,395.379l-195.7-338.962C297.257,37.569,277.766,26.315,256,26.315c-21.765,0-41.257,11.254-52.139,30.102    L8.162,395.378c-10.883,18.85-10.883,41.356,0,60.205c10.883,18.849,30.373,30.102,52.139,30.102h391.398    c21.765,0,41.256-11.254,52.14-30.101C514.722,436.734,514.722,414.228,503.839,395.379z M477.861,440.586    c-5.461,9.458-15.241,15.104-26.162,15.104H60.301c-10.922,0-20.702-5.646-26.162-15.104c-5.46-9.458-5.46-20.75,0-30.208    L229.84,71.416c5.46-9.458,15.24-15.104,26.161-15.104c10.92,0,20.701,5.646,26.161,15.104l195.7,338.962    C483.321,419.836,483.321,431.128,477.861,440.586z')
        rect(fill='var(--color, #333)' x='241.001' y='176.01' width='30' height='150')
        path(fill='var(--color, #333)' d='M256,355.99c-11.027,0-19.998,8.971-19.998,19.998s8.971,19.998,19.998,19.998c11.026,0,19.998-8.971,19.998-19.998    S267.027,355.99,256,355.99z')
    symbol#icon-chevron-down(viewBox='0 0 407 407')
        path(fill="var(--color, #333)" d="M386.258 91.567L203.718 273.512L21.179 91.567L0 112.815L203.718 315.87L407.437 112.815L386.258 91.567Z")
    symbol#icon-chevron-top(viewBox='0 0 407 407')
        path(fill="var(--color, #333)" d="M21.179 315.87L203.719 133.925L386.258 315.87L407.437 294.622L203.719 91.567L0 294.622L21.179 315.87Z")
    symbol#icon-chevron-left(viewBox='0 0 407 407')
        path(fill="var(--color, #333)" d="M305 386.258L123.055 203.718L305 21.179L283.752 0L80.697 203.718L283.752 407.437L305 386.258Z")
    symbol#icon-chevron-right(viewBox='0 0 407 407')
        path(fill="var(--color, #333)" d="M105 21.179L286.945 203.719L105 386.258L126.248 407.437L329.303 203.719L126.248 2.42851e-05L105 21.179Z")
    symbol#icon-settings(viewBox='0 0 24 24')
        path(fill='var(--color, #333)' d='m13.12 24h-2.24c-.757 0-1.396-.567-1.486-1.32l-.239-1.876c-.477-.155-.937-.346-1.374-.569l-1.494 1.161c-.606.469-1.459.415-1.985-.126l-1.575-1.575c-.537-.521-.591-1.374-.122-1.979l1.161-1.495c-.224-.437-.415-.897-.569-1.374l-1.88-.239c-.75-.092-1.317-.731-1.317-1.488v-2.24c0-.757.567-1.396 1.32-1.486l1.876-.239c.155-.477.346-.937.569-1.374l-1.16-1.494c-.47-.606-.415-1.46.127-1.986l1.575-1.575c.521-.537 1.375-.59 1.979-.122l1.494 1.162c.437-.223.897-.414 1.375-.569l.239-1.88c.09-.75.729-1.317 1.486-1.317h2.24c.757 0 1.396.567 1.486 1.32l.239 1.876c.478.155.938.346 1.375.569l1.494-1.161c.607-.469 1.459-.415 1.985.127l1.575 1.575c.537.521.591 1.374.122 1.979l-1.161 1.495c.224.437.415.897.569 1.374l1.88.239c.749.091 1.316.73 1.316 1.487v2.24c0 .757-.567 1.396-1.32 1.486l-1.876.239c-.155.477-.346.937-.569 1.374l1.161 1.494c.47.606.415 1.459-.127 1.985l-1.575 1.575c-.521.537-1.375.592-1.979.122l-1.495-1.161c-.437.224-.897.415-1.374.569l-.239 1.88c-.091.75-.73 1.317-1.487 1.317zm-5.39-4.86c.083 0 .168.021.244.063.551.308 1.148.556 1.774.736.192.055.333.219.358.417l.28 2.2c.03.251.247.444.494.444h2.24c.247 0 .464-.193.493-.439l.281-2.204c.025-.198.166-.362.358-.417.626-.18 1.223-.428 1.774-.736.175-.098.393-.081.55.042l1.75 1.36c.201.156.483.143.655-.034l1.585-1.585c.181-.176.195-.458.039-.66l-1.36-1.75c-.123-.158-.14-.375-.042-.55.308-.551.556-1.148.736-1.774.055-.192.219-.333.417-.358l2.2-.28c.251-.031.444-.248.444-.495v-2.24c0-.247-.193-.464-.439-.493l-2.204-.281c-.198-.025-.362-.166-.417-.358-.18-.626-.428-1.223-.736-1.774-.098-.175-.082-.392.042-.55l1.36-1.75c.157-.202.143-.484-.033-.654l-1.585-1.585c-.175-.182-.458-.196-.66-.039l-1.75 1.36c-.159.123-.376.14-.551.042-.549-.308-1.146-.555-1.774-.736-.192-.055-.333-.219-.358-.417l-.28-2.2c-.031-.252-.248-.445-.495-.445h-2.24c-.247 0-.464.193-.493.439l-.281 2.204c-.025.198-.166.362-.358.418-.628.18-1.225.428-1.774.735-.175.099-.392.081-.551-.041l-1.75-1.36c-.202-.157-.483-.143-.654.033l-1.585 1.586c-.181.176-.195.458-.039.66l1.36 1.75c.123.158.14.375.042.55-.309.551-.556 1.148-.736 1.774-.055.192-.219.333-.417.358l-2.2.28c-.251.03-.444.247-.444.494v2.24c0 .247.193.464.439.493l2.204.281c.198.025.362.166.417.358.18.626.428 1.223.736 1.774.098.175.082.392-.042.55l-1.36 1.75c-.157.202-.143.484.033.654l1.585 1.585c.175.181.456.195.66.039l1.75-1.36c.091-.068.199-.104.308-.104z')
        path(fill='var(--color, #333)' d='m12 17c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-9c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z')
    svg#icon-notification(viewBox='0 0 512 512')
        path(fill='var(--color, #333)' d='m411 262.862v-47.862c0-69.822-46.411-129.001-110-148.33v-21.67c0-24.813-20.187-45-45-45s-45 20.187-45 45v21.67c-63.59 19.329-110 78.507-110 148.33v47.862c0 61.332-23.378 119.488-65.827 163.756-4.16 4.338-5.329 10.739-2.971 16.267s7.788 9.115 13.798 9.115h136.509c6.968 34.192 37.272 60 73.491 60 36.22 0 66.522-25.808 73.491-60h136.509c6.01 0 11.439-3.587 13.797-9.115s1.189-11.929-2.97-16.267c-42.449-44.268-65.827-102.425-65.827-163.756zm-170-217.862c0-8.271 6.729-15 15-15s15 6.729 15 15v15.728c-4.937-.476-9.94-.728-15-.728s-10.063.252-15 .728zm15 437c-19.555 0-36.228-12.541-42.42-30h84.84c-6.192 17.459-22.865 30-42.42 30zm-177.67-60c34.161-45.792 52.67-101.208 52.67-159.138v-47.862c0-68.925 56.075-125 125-125s125 56.075 125 125v47.862c0 57.93 18.509 113.346 52.671 159.138z')
        path(fill='var(--color, #333)' d='m451 215c0 8.284 6.716 15 15 15s15-6.716 15-15c0-60.1-23.404-116.603-65.901-159.1-5.857-5.857-15.355-5.858-21.213 0s-5.858 15.355 0 21.213c36.831 36.831 57.114 85.8 57.114 137.887z')
        path(fill='var(--color, #333)' d='m46 230c8.284 0 15-6.716 15-15 0-52.086 20.284-101.055 57.114-137.886 5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.858-21.213 0-42.497 42.497-65.901 98.999-65.901 159.099 0 8.284 6.716 15 15 15z')
    svg#icon-list(viewBox='0 0 512 512')
        path(fill='var(--color, #333)' d='M112,0H16C7.168,0,0,7.168,0,16v96c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16V16C128,7.168,120.832,0,112,0z     M96,96H32V32h64V96z')
        path(fill='var(--color, #333)' d='M112,192H16c-8.832,0-16,7.168-16,16v96c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16v-96    C128,199.168,120.832,192,112,192z M96,288H32v-64h64V288z')
        path(fill='var(--color, #333)' d='M112,384H16c-8.832,0-16,7.168-16,16v96c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16v-96    C128,391.168,120.832,384,112,384z M96,480H32v-64h64V480z')
        rect(fill='var(--color, #333)' x='192' y='16' width='320' height='32')
        rect(fill='var(--color, #333)' x='192' y='80' width='320' height='32')
        rect(fill='var(--color, #333)' x='192' y='208' width='320' height='32')
        rect(fill='var(--color, #333)' x='192' y='272' width='320' height='32')
        rect(fill='var(--color, #333)' x='192' y='400' width='320' height='32')
        rect(fill='var(--color, #333)' x='192' y='464' width='320' height='32')
    symbol#icon-check(viewbox='0 0 512 512')
        path(fill='var(--color, #333)' d='m369.164062 174.769531c7.8125 7.8125 7.8125 20.476563 0 28.285157l-134.171874 134.175781c-7.8125 7.808593-20.472657 7.808593-28.285157 0l-63.871093-63.875c-7.8125-7.808594-7.8125-20.472657 0-28.28125 7.808593-7.8125 20.472656-7.8125 28.28125 0l49.730468 49.730469 120.03125-120.035157c7.8125-7.808593 20.476563-7.808593 28.285156 0zm142.835938 81.230469c0 141.503906-114.515625 256-256 256-141.503906 0-256-114.515625-256-256 0-141.503906 114.515625-256 256-256 141.503906 0 256 114.515625 256 256zm-40 0c0-119.394531-96.621094-216-216-216-119.394531 0-216 96.621094-216 216 0 119.394531 96.621094 216 216 216 119.394531 0 216-96.621094 216-216zm0 0')
    symbol#icon-error(viewbox='0 0 512 512')
        path(fill='var(--color, #333)' d='M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256    C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216    c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z')
        path(fill='var(--color, #333)' d='M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0    L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256    l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302    c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z')
    symbol#icon-entrance(viewbox='0 0 512 512')
        path(fill='var(--color, #333)' d='M452,0H60C26.916,0,0,26.916,0,60v80h40V60c0-11.028,8.972-20,20-20h392c11.028,0,20,8.972,20,20v392    c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20v-80H0v80c0,33.084,26.916,60,60,60h392c33.084,0,60-26.916,60-60V60    C512,26.916,485.084,0,452,0z')
        polygon(fill='var(--color, #333)' points='240,131.716 211.716,160 287.716,236 0,236 0,276 287.716,276 211.716,352 240,380.284 364.284,256   ')
    symbol#icon-add(viewbox='0 0 512 512')
        path(fill='var(--color, #333)' d='M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341    c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z    ')
        path(fill='var(--color, #333)' d='M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318    c-10.966,0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83    s19.83-8.884,19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z')
    symbol#icon-information(viewbox='0 0 512 512')
        circle(fill='var(--color, #333)' cx='256' cy='378.5' r='25')
        path(fill='var(--color, #333)' d='M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256     C512,114.516,397.503,0,256,0z M256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216     c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z')
        path(fill='var(--color, #333)' d='M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40     c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20     c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z')
    symbol#icon-avatar(viewBox='0 0 483 483')
        path(fill='var(--color, #333)' d='M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5    c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6    c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z     M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4    c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0    c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z')
        path(fill='var(--color, #333)' d='M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3    c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7    c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41    c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56    c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8    c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3    c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3    C447,415.5,446.9,388.8,446.8,383.6z')
    symbol#icon-edit(viewBox='0 0 384 384')
        polygon(points='0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893' fill='var(--color, #333)')
        path(d='M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04     C386.027,77.92,386.027,64.373,377.707,56.053z' fill='var(--color, #333)')
    symbol#icon-plus(viewBox='0 0 427 427')
        path(d='m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0' fill='var(--color, #333)')
    symbol#icon-loader(viewBox='0 0 100 100')
        circle(fill='var(--color, #333)' cx='19' cy='50' r='8')
            animate(attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.1')
        circle(fill='var(--color, #333)' cx='50' cy='50' r='8')
            animate(attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.2')
        circle(fill='var(--color, #333)' cx='81' cy='50' r='8')
            animate(attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.3')
