include ../mixins/post/post.pug
include ../mixins/form/textarea.pug
include ../mixins/form/upload-files.pug

.posts
    form.posts-new.card
        .user-avatar
            img(src="https://via.placeholder.com/50x50" alt="Александра Бойц")
        .posts-new__content
            .posts-new__message
                +textarea({ name: 'new-message', placeholder: 'Введите новое сообщение...' })
                .posts-new__actions
                    a.btn.btn-icon(type="button", href="javascript:document.querySelector('.new-post-files').classList.toggle('visible')")
                        svg
                            use(xlink:href="#icon-clip")
                    button.btn.btn-icon(type="submit")
                        svg
                            use(xlink:href="#icon-send")
            +upload-files({ name: 'new-post-files', classes: 'new-post-files mt-3', formats: 'jpeg, png, gif', accept: 'image/jpeg,image/png,image/gif', multiple: true })


    .posts__list
        +post({ type: 'text', comments: 1, answers: 3, isFavorite: true })
        +post({ type: 'image', comments: 3 })
        +post({ type: 'audio', comments: 1, answers: 5 })
        +post({ type: 'image-text' })
        +post({ type: 'video' })
        +post({ type: 'text' })
        +post({ type: 'iframe' })
        +post({ type: 'text' })
