.sidebar
    .sidebar__wrapper
        ul.sidebar__list
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-add-folder")
                    | Создать папку

        ul.sidebar__list
            li.sidebar__item.mark
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-book")
                    | Книга памяти
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-star")
                    | Избранное
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-folder")
                    | Название папки
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-warning")
                    | Жалобы

        ul.sidebar__list.sidebar__list_color_primary
            li.sidebar__item
                a(href="javascript:;", data-autoplay-posts)
                    | Автопросмотр