.slider-memory
    h4.h2 Сейчас вспоминают
    .swiper-slider
        .swiper-container
            .swiper-wrapper
                each _ in Array(10)
                    .swiper-slide
                        a(href="javascript:;")
                            .slider-memory__image.user-avatar
                                img(src="https://via.placeholder.com/150x150" alt="Бойц Александр")
                            .slider-memory__name
                                | Доноварин
                                br
                                | Константин Вениаминович
            .swiper-pagination

        button.swiper-button.swiper-button-prev
        button.swiper-button.swiper-button-next
