.alert {
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--color-gray-light);
  padding: 8px 15px;
  max-width: 500px;

  svg {
    flex: 0 0 30px;
    max-width: 30px;
    height: 19px;
    margin-right: 5px;
  }

  &.alert_success {
    border-color: var(--color-green-70);
    background: var(--color-green-10);
    --color: var(--color-green);
  }

  &.alert_warning {
    border-color: var(--color-orange-70);
    background: var(--color-orange-10);
    --color: var(--color-orange);
  }

  &.alert_error {
    border-color: var(--color-red-70);
    background: var(--color-red-10);
    --color: var(--color-red);
  }
}