.autoplay-posts {
  background: transparent;
  max-width: 768px;
  padding: 40px 36px;

  @include mq('sm') {
    padding: 40px;
  }

  &__nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    --icon-size: 26px;
    --color: #fff;
    opacity: 0.7;

    @include mq('sm') {
      width: 32px;
      height: 32px;
    }

    &:hover {
      opacity: 1;
    }

    &-prev {
      @include mq('sm') {
        transform: translate(5px, -50%);
      }
    }

    &-next {
      transform: translate(-100%, -50%);

      @include mq('sm') {
        transform: translate(calc(-100% - 5px), -50%);
      }

      .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  [data-fancybox-close] {
    top: 0;
    right: 26px;
    padding: 0;
    width: 40px;
    height: 40px;

    @include mq('sm') {
      right: 16px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .modal-body {
    padding: 0;
  }

  .post {
    margin-bottom: 0;
    transition: opacity 0.15s ease-in-out;
    position: relative;
    overflow: hidden;

    &__loader {
      background: var(--color-primary-light);
      height: 4px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;

      span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background: var(--color-primary);
      }
    }

    &-footer {
      &::after {
        content: none;
      }
    }
  }

  &.loading {
    .autoplay-posts__nav {
      &-next {
        pointer-events: none;

        .arrow {
          opacity: 0;
        }

        .loader {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .post {
      opacity: 0.95;
    }
  }
}