.btn {
  @include transition-active;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  user-select: none;
  position: relative;
  font-family: $font-family;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 24px;
  text-decoration: none !important;
  background: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
  color: #fff;
  --color: #fff;

  &:disabled, &.button_disabled {
    pointer-events: none;
    cursor: default;
    border-color: var(--color-gray-light);
    color: var(--color-gray);
    --color: var(--color-gray);
    background: var(--color-gray-light) !important;
  }

  @include hover() {
    @include transition-hover;

    &:hover {
      border-color: var(--color-button-hover);
      background: var(--color-button-hover);
    }
  }

  &:active {
    border-color: var(--color-button-hover);
    background: var(--color-button-hover);
  }

  &.btn-transparent {
    background: transparent;
    color: var(--color-text);
    --color: var(--color-text);

    @include hover() {
      &:hover {
        border-color: var(--color-button-hover);
        background: var(--color-button-hover);
        color: #fff;
        --color: #fff;
      }
    }

    &:active {
      border-color: var(--color-button-hover);
      background: var(--color-button-hover);
      color: #fff;
      --color: #fff;
    }
  }

  &.btn-icon {
    background: none;
    border: none;
    padding: 4px;
  }

  &.btn-link {
    padding: 0;
    background: none;
    border: none;
    color: var(--color-primary);
    --color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    --icon-size: 12px;
  }

  svg + span {
    display: inline-block;
    margin-left: 10px;
  }

  span + svg {
    display: inline-block;
    margin-left: 10px;
  }
}