.complaint {
  &__text {

  }

  &-post {
    margin-top: var(--base-space);

    &__header {
      --icon-size: 12px;
      color: var(--color-text);
      font-weight: 600;
      display: inline-flex;
      align-items: center;

      * {
        pointer-events: none;
      }

      span {
        margin-right: 10px;
      }
    }

    &__content {
      max-height: 0;
      overflow-y: hidden;
    }

    &[aria-expanded="true"] {
      .complaint-post__header {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__actions {
    .btn:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}