.drop-actions {
  margin-left: auto;
  position: relative;

  .drop-menu {
    width: 100px;

    &-list {
      a {
        padding: 4px 10px;
        font-size: 12px;
      }
    }
  }
}

.drop-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  padding-top: 5px;
  width: 150px;
  transform: translateY(5px);
  transition: 0.25s ease-in-out;
  z-index: 5;

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &[data-placement="left"] {
    left: 0;
  }

  &[data-placement="right"] {
    right: 0;
  }

  &-nav {
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  &-list {
    padding-top: 7px;
    padding-bottom: 7px;

    li {

    }

    a {
      color: var(--color-text);
      padding: 5px 15px;
      font-size: 14px;
    }
  }
}