.fixed-actions {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: calc(var(--friend-list-width) + 20px);
  display: flex;
  flex-direction: column-reverse;

  @include mq("lg") {
    right: 15px;
  }

  &__toggle {
    outline: none;
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--color-gray-light);
    border-radius: 50%;
    border: none;

    @include mq("md") {
      display: flex;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    transition: 0.25s ease-in-out;

    @include mq("lg") {
      flex-direction: column;
    }

    @include mq("md") {
      height: 0;
      padding-right: 7px;
      overflow: hidden;

      &.opened {
        height: 330px;
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;

      @include mq("lg") {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    & > span {
      position: absolute;
      font-size: 10px;
      font-weight: 600;
      right: -5px;
      bottom: -5px;
      background: var(--color-primary);
      height: 24px;
      width: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      pointer-events: none;
      color: #fff;

      &.red {
        background: var(--color-red);
      }
    }

    & > a {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-gray-light);
      border-radius: 50%;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .ya-share2__link_more {
    background: transparent !important;
  }
}