.footer {
  margin-top: 100px;
  padding: 80px var(--friend-list-width) 80px 0;
  background: var(--color-gray-dark-2);
  color: #fff;

  @include mq('lg') {
    padding: 40px 0;
  }

  &-container {
    display: flex;

    @include mq('md') {
      flex-direction: column;
    }
  }

  &-links {
    display: flex;

    a {
      color: #fff;
      margin-right: 100px;
    }

    @include mq('lg') {
      flex-direction: column;

      a {
        margin-right: 0;
        font-size: 14px;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }

      br {
        display: none;
      }
    }
  }

  &-statistics {
    margin-left: auto;

    @include mq('md') {
      margin-left: 0;
      margin-top: 10px;
    }

    &__item {
      text-align: right;

      @include mq('md') {
        text-align: left;
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      select {
        border: 1px solid #fff;
        padding: 0;
        background: var(--color-gray-dark-2);
        color: #fff;
      }

      strong {
        margin-left: 10px;
      }
    }

    @include mq('lg') {
      font-size: 14px;
    }
  }
}