.mobile-menu {
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      margin-right: 10px;
    }
  }
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  z-index: 500;
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &-wrap {
    display: flex;
  }

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    width: 150px;
    height: 40px;
    background: #fff;
  }

  &__search {
    margin-left: 40px;
    --icon-size: 20px;

    @include mq('lg') {
      display: none;
    }
  }

  &__mobile-menu-btn {
    display: none;
    margin-left: auto;
    --color: #fff;
    --icon-size: 28px;

    @include mq("lg") {
      display: inline-flex;
    }
  }

  .mobile-menu {
    display: none;
  }

  &-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    @include mq('lg') {
      display: none;

      .mm-navbar & {
        display: flex;
        padding: 5px 15px;
        justify-content: flex-start;

        &__name {
          font-weight: 500;
          color: var(--color-text) !important;
          margin-right: 0;
          margin-left: 15px;
        }

        .header-user-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }

    &__name {
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
      color: var(--color-text);
      margin-right: 15px;
    }

    &-avatar {
      &__img {
        width: 45px;
        height: 45px;
      }
    }

    & .drop-menu {
      display: block;
      z-index: 100;

      a {
        transition: 0.25s ease-in-out;
        display: block;
        text-decoration: none !important;

        &:hover {
          background: var(--color-background);
        }
      }
    }
  }
}