@import "fancybox";

.fancybox-is-open .fancybox-bg {
  opacity: .4;
}

.modal {
  width: 100%;
  max-width: 520px;
  padding: 0;

  &-wrap {

  }

  &-header {
    padding: calc(3 / 2 * var(--base-space));
    color: #fff;
    background: var(--color-primary);

    .h4 {
      margin: 0;

      & + p {
        margin-top: 10px;
      }
    }
  }

  [data-fancybox-close] {
    top: 8px;
    width: 48px;
    height: 48px;

    svg {
      width: 28px;
      height: 28px;

      path {
        fill: #fff;
      }
    }
  }

  &-body {
    padding: calc(3 / 2 * var(--base-space));
  }

  &-footer {
    display: flex;
    padding: calc(3 / 2 * var(--base-space));
  }
}

.modal_write-message {
  .write-message__user {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: var(--base-space);

    .user-avatar {
      border-color: var(--color-primary);
    }

    &-name {
      color: var(--color-text);
      font-weight: 600;
      align-self: center;

      a {
        color: inherit;
      }
    }
  }

  .form-item_textarea textarea {
    min-height: 120px;
    height: 120px;
    max-height: 220px;
  }

  .write-message__form .btn[type="submit"] {
    display: flex;
    justify-content: flex-end;
  }
}

.modal_gallery {
  max-width: 840px;

  .modal-gallery__wrap {
    overflow-y: auto;
    @include scroll-bar;
    height: 50vh;
    padding: 10px;
    margin: -10px;
  }

  .modal-gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: var(--base-space);
    justify-content: flex-start;
    align-items: flex-start;

    @include mq("sm") {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}

.modal_complaint {
  .form-item_textarea textarea {
    min-height: 120px;
    height: 120px;
    max-height: 220px;
  }
}

.modal_gifts {
  max-width: 780px;

  .modal-gifts__wrap {
    max-height: 70vh;
    overflow-y: auto;
  }

  .modal-gifts__action {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.check__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 15px;
}

.check-item {
  justify-self: center;
  position: relative;
  padding: 15px;
  cursor: pointer;

  @include hover {
    .check-item__price {
      opacity: 0;
    }

    &:hover {
      .check-item__price {
        opacity: 1;
      }
    }
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;

    &:checked {
      & ~ .check-item__img {
        opacity: 1 !important;
      }

      & ~ .check-item__price {
        opacity: 1;
      }
    }
  }

  &__img {
    pointer-events: none;
    opacity: 0.7;
  }

  &__price {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: var(--border-radius-large);
    background: var(--color-primary-light);
    color: #333;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;
    transition: opacity 0.25s ease-in-out;
  }
}

@import 'autoplay-posts';