.pagination {
  --button-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  @include mq('xxs') {
    --button-size: 28px;
  }

  &__arrow {
    --icon-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    transition: 0.1s ease-in-out;
    background: var(--color-primary-light);

    @include hover() {
      transition: 0.25s ease-in-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__pages {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__page {
    margin: 4px !important;

    a, span {
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--button-size);
      height: var(--button-size);
      cursor: default;
    }

    &.current {
      font-weight: 600;
    }

    a {
      cursor: pointer;
      text-decoration: none !important;
      transition: 0.1s ease-in-out;

      &:active {
        background: var(--color-primary-light);
      }

      @include hover() {
        transition: 0.25s ease-in-out;

        &:hover {
          background: var(--color-primary-light);
        }
      }
    }
  }
}