.sidebar {
  max-width: 270px;

  @include mq('lg') {
    display: none !important;
  }

  &__list {
    &_color_primary {
      .sidebar__item {
        a {
          background: var(--color-primary);
          color: #fff;
        }

        svg {
          --color: var(--color-text);
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 2px;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 45px;
      padding: 10px 15px;
      font-size: 14px;
      text-transform: uppercase;
      background-color: var(--color-gray-light);
      color: var(--color-text);
      --color: var(--color-text);
    }

    &:first-of-type a {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-of-type a {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    svg {
      --icon-size: 24px;
      margin-right: 10px;
    }

    &.mark {
      position: relative;

      a {
        font-weight: 700;
      }

      &::after {
        width: 24px;
        height: 24px;
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        background: var(--color-primary);
        border: 2px solid #fff;
        border-radius: 100px;
      }
    }
  }
}