.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 12px;

  .user {
    display: flex;
    align-items: center;

    &-avatar {
      margin-right: 10px;
      flex: 0 0 40px;
      border-color: var(--color-primary);
    }

    &-name {
      font-size: 13px;
      line-height: 1.2;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}