.user-avatar {
  width: 40px;
  height: 40px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;

  &::before {
    background-image: url(../images/avatar-placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}