/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target {
  &, * {
    touch-action: none;
    user-select: none;
  }

  & {
    border: none;
    box-shadow: none;
    width: calc(100% - 10px);
    margin: 0 auto;
    position: relative;
  }
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  background: rgba(var(--color-gray-dark-2), 0.3);
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  background: var(--color-primary);
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap {
  .noUi-connect,
  .noUi-origin {
    transition: transform 0.3s;
  }
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 2px;

  .noUi-handle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    right: -5px;
    top: -4px;
  }
}

.noUi-vertical {
  width: 18px;

  .noUi-handle {
    width: 28px;
    height: 34px;
    right: -6px;
    top: -17px;
  }
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-connects {
  border-radius: 3px;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;

  .noUi-vertical & {
    cursor: ns-resize;
  }
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-vertical {
  .noUi-handle {
    &:before, &:after {
      width: 14px;
      height: 1px;
      left: 6px;
      top: 14px;
    }

    &:after {
      top: 17px;
    }
  }
}

/* Disabled state;
 */
[disabled] {
  .noUi-connect {
    background: #b8b8b8;
  }

  &.noUi-target,
  &.noUi-handle,
  .noUi-handle {
    cursor: not-allowed;
  }
}

/* Base;
 *
 */
.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;

  &-sub {
    color: #ccc;
    font-size: 10px;
  }
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #ccc;

  &-sub, &-large {
    background: #aaa;
  }
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-marker-horizontal {
  &.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
  }

  &.noUi-marker-sub {
    height: 10px;
  }

  &.noUi-marker-large {
    height: 15px;
  }
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-marker-vertical {
  &.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
  }

  &.noUi-marker-sub {
    width: 10px;
  }

  &.noUi-marker-large {
    width: 15px;
  }
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  background: #fff;
  padding: 2px 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;

  .noUi-horizontal & {
    transform: translate(-50%, 5px);
    left: 50%;
    top: 100%;
  }

  .noUi-vertical & {
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
  }
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
