li.memory-profile-item
    a.user-avatar.memory-profile-item__img(href="javascript:;")
        img(src="https://via.placeholder.com/150x150" alt="Бойц Александр")
    .memory-profile-item__content
        h5.memory-profile-item__name
            a(href="javascript:;") Бойц Александр Владимирович
        .memory-profile-item__years 02.02.1980 ~ 15.12.1999

    .memory-profile-item__del
        button.btn.btn-link
            svg
                use(xlink:href="#icon-cancel-bold")
            span Убрать