a.messenger-list-item(href="javascript:;")
    .messenger-list-item__img.user-avatar
        img(src="https://via.placeholder.com/150x150" alt="Бойц Александр")
    .messenger-list-item__info
        .messenger-list-item__name Бойц Александр
        .messenger-list-item__last-message
            .user-avatar
                img(src="https://via.placeholder.com/40x40" alt="Бойц Александр")
            span
                | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько
                | абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору
        .messenger-list-item__date 12 декабря