include ../../mixins/form/switch.pug

li.notification-profile-item
    a.user-avatar.notification-profile-item__img(href="javascript:;")
        img(src="https://via.placeholder.com/150x150" alt="Бойц Александр")
    .notification-profile-item__content
        h5.notification-profile-item__name
            a(href="javascript:;") Бойц Александр Владимирович
        .notification-profile-item__years 02.02.1980 ~ 15.12.1999

    .notification-profile-item-actions
        +switch({ label1: 'Уведомления по смс' })
        +switch({ label1: 'Уведомления по email' })