.sidebar
    .sidebar__wrapper
        ul.sidebar__list
            li.sidebar__item.mark
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-settings")
                    | Настройки профиля
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-notification")
                    | Уведомления
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-list")
                    | Мой список памяти
            li.sidebar__item
                a(href="javascript:;")
                    svg
                        use(xlink:href="#icon-chat")
                    | Личные сообщения

        ul.sidebar__list.sidebar__list_color_primary
            li.sidebar__item
                a(href="javascript:;")
                    | Выход