$font-size-message: 14px;

.chat-messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 100%;
  @include scroll-bar()
}

.chat-group-message {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.chat-message {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 7px;
  }

  &__actions {
    button {
      --color: var(--color-gray);
    }
  }

  &__user-name {
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
  }

  &__body {
    font-size: #{$font-size-message};
    padding-left: 50px;
  }
}

.chat-message_your {
  padding: 10px;
  margin-left: 50px;
  font-size: #{$font-size-message};
  position: relative;
  background-color: var(--color-gray-light);

  &:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -5px;
      border: 10px solid transparent;
      border-bottom: 10px solid var(--color-gray-light);
      border-left: 10px solid var(--color-gray-light);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}