.chat {
  display: block !important;
  z-index: 500;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  width: var(--width-chat-panel);
  will-change: transform, visibility;
  transition: 0.35s ease-in-out;
  transform: translateX(100%);
  visibility: hidden;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

  &[aria-hidden="false"] {
    visibility: visible;
    transform: translateX(0);
  }

  &-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-header {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: 600;
    padding: var(--base-space);
    height: 60px;

    svg {
      --icon-size: 28px;
      margin-right: 15px;
      --color: #333;
    }

    button {
      margin-left: auto;

      svg {
        margin: 0;
        --icon-size: 20px;
      }
    }
  }

  &-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;;
    background-color: #fff;
    max-height: calc(100% - 60px);
  }
}

.chat-new-message-field {
  padding: calc(var(--base-space) * 2 / 3) var(--base-space);
  background-color: var(--color-background);
  border-top: 1px solid var(--color-gray-light);

  &__form {
    position: relative;
    display: flex;

    .form-item_textarea {
      width: 100%;
    }

    textarea {
      resize: none;
      padding: 10px 38px 10px 10px;
      min-height: 38px;
      height: 38px;
      max-height: 130px;
      outline: none;
      background-color: #fff;
      @include scroll-bar()
    }

    button {
      position: absolute;
      bottom: 4px;
      right: 4px;
      --icon-size: 20px;
    }
  }
}

@import "chat-message";
