.friends-list {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  background-color: var(--color-background);
  width: var(--friend-list-width);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

  @include mq('lg') {
    display: none;
  }

  &-wrap {
    height: 100%;
  }

  &__open-chat {
    background: var(--color-primary);
    width: var(--friend-list-width);
    height: var(--friend-list-width);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 23px 24px;
    --icon-size: 25px;
    --color: #333;
  }

  &__container {
    height: calc(100% - var(--friend-list-width));
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 20px;
      z-index: 1;
      background-image: linear-gradient(to bottom, var(--color-background), rgba(0, 0, 0, 0));
    }

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      z-index: 1;
      background-image: linear-gradient(to top, var(--color-background), rgba(0, 0, 0, 0));
    }
  }

  &__wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
    @include scroll-bar();
    height: 100%;
  }

  &__user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &-user {
    display: inline-flex;

    a {
      display: flex;
      width: var(--friend-list-width);
      height: var(--friend-list-width);
      padding: 7px;

      .user-avatar {
        width: calc(var(--friend-list-width) - 14px);
        height: calc(var(--friend-list-width) - 14px);
      }

      &:hover {
        background: var(--color-gray-light);
      }
    }
  }
}
