@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap");

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.375;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-flex;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;

  @include hover() {
    &:hover:not(.button) {
      text-decoration: underline;
    }
  }

  &:active:not(.button) {
    text-decoration: underline;
  }
}

[disabled] {
  cursor: not-allowed;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1;
}

h1, .h1 {
  font-size: 26px;
  line-height: 1.17;
  margin-bottom: var(--base-space);

  @include mq("lg") {
    font-size: 22px;
  }
}

h2, .h2 {
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: var(--base-space);

  @include mq("lg") {
    font-size: 20px;
    line-height: 1;
  }
}

h3, .h3 {
  font-size: 22px;
  margin-bottom: var(--base-space);
  line-height: 1.17;

  @include mq("lg") {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 18px;
  margin-bottom: calc(var(--base-space) * 2 / 3);

  @include mq("sm") {
    font-size: 18px;
  }
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 16px;
}

p {
  line-height: 1.4;
  margin: 0;

  &:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

small, .small {
  font-size: 80%;
}

.uppercase {
  text-transform: uppercase;
}

.bold, .strong,
b, strong {
  font-weight: 600;
}

.text-center {
  text-align: center !important;
}

article img {
  margin-bottom: 24px;
}

article ul,
ul.marker,
article ol,
ol.marker {
  list-style: disc;
  margin: 0 0 var(--base-space) calc(var(--base-space) * 2 / 3);
  padding-left: var(--base-space);

  @include mq("sm") {
    padding: 0 0 0 8px;
  }

  li {
    position: relative;


    &:not(:last-of-type) {
      margin-bottom: 17px;
    }
  }
}

article ol,
ol.marker {
  list-style: decimal;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-gray-light);
  margin-bottom: var(--base-space);
  box-sizing: border-box;
}
