$baseSpace: 5px;

// Fonts
$font-family: "Open Sans", sans-serif;

:root {
  --color-primary: #75acbb;
  --color-primary-light: #cfe6ef;
  --color-text: #333;
  --color-background: #f8fdfd;
  --color-gray-light: #ddd;
  --color-gray: #aaa;
  --color-gray-dark: #999;
  --color-gray-dark-2: #4d4d4d;

  --color-red: #db0719;
  --color-red-70: rgba(219, 7, 24, 0.7);
  --color-red-10: rgba(219, 7, 24, 0.1);

  --color-green: #0a9540;
  --color-green-70: rgba(10, 149, 64, 0.7);
  --color-green-10: rgba(10, 149, 64, 0.1);

  --color-orange: #95520A;
  --color-orange-70: rgba(149, 82, 10, 0.7);
  --color-orange-10: rgba(149, 82, 10, 0.1);

  --color-button: #75acbb;
  --color-button-hover: #457684;

  --base-space: 15px;

  --header-height: 70px;
  --content-margin-top: 30px;

  --friend-list-width: 60px;
  --width-chat-panel: 400px;

  --border-radius: 4px;
  --border-radius-large: 6px;

  --post-font-size: 14px;
  --post-padding-y: 20px;
  --post-padding-x: 25px;

  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  --icon-size: 16px;
}

@include mq('sm') {
  :root {
    --content-margin-top: 30px;

    --base-space: 12px;

    --icon-size: 14px;
  }
}
