.create-person {
  &-top {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: var(--base-space);

    .form-item_upload-img {
      --img-uploader-size: 130px;
      --img-uploader-font-size: 14px;
    }

    @include mq("sm") {
      grid-template-columns: 1fr;

      .form-item_upload-img {
        display: flex;
        justify-content: center;
      }
    }
  }

  &-middle {
    margin-top: 40px;

    .form-item_upload-img label {
      border-radius: 0;
      width: 100%;
    }

    div:not(.create-person__dates) {
      grid-column: 1 / -1;
    }
  }

  &-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }
}