.main-page {
  .content {
    padding-right: 0;
  }

  .description {
    margin: 60px auto 40px auto;
    max-width: 960px;
    text-align: center;
  }

  @include mq("md") {
    .person-detail {
      display: flex;
      justify-content: center;
    }

    .person-detail__actions {
      margin-left: auto;
      margin-right: auto;
      display: inline-flex;
      flex-direction: column;
    }

    .person-actions {
      flex-direction: row;
      width: auto;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }

    .person-actions__img {
      flex: 0 0 80px;
      max-width: 80px;
      height: 80px;
      margin-right: 20px;
    }

    .person-actions__title {
      margin-top: 0;
      font-size: 16px;
    }
  }

  @include mq("sm") {
    .person-actions__img {
      flex: 0 0 60px;
      max-width: 60px;
      height: 60px;
      margin-right: 15px;
    }

    .person-actions__title {
      font-size: 14px;
    }
  }
}

.slider-memory {
  margin-top: 80px;

  @include mq("md") {
    margin-left: calc(-1 * var(--base-space));
    margin-right: calc(-1 * var(--base-space));
  }

  .h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .swiper-slider {
    padding-left: 40px;
    padding-right: 40px;

    @include mq("xl") {
      padding: 0;
    }
  }

  .swiper-container {
    @include mq("lg") {
      padding-bottom: 40px;
    }
  }

  .swiper-pagination {
    display: none;

    @include mq("lg") {
      display: block;
    }
  }

  .swiper-button {
    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    @include mq("lg") {
      display: none;
    }
  }

  .swiper-slide {
    padding-left: 5px;
    padding-right: 5px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      text-decoration: none !important;
    }

    .slider-memory__image {
      width: 120px;
      height: 120px;
    }

    .slider-memory__name {
      margin-top: 15px;
      text-align: center;
      color: var(--color-text);
    }
  }
}