.person-detail {
  --photo-size: 300px;

  @include mq('xxl') {
    --photo-size: 220px;
  }

  @include mq('lg') {
    --photo-size: 100px;
  }

  @include mq('xs') {
    --photo-size: 80px;
  }

  &-page {
    .content {
      margin-top: 0;
    }
  }

  .person-detail__edit {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;

    @include mq('lg') {
      top: auto;
      bottom: 25px;
      right: 25px;
      padding: 4px 10px;
    }

    @include mq('md') {
      span {
        display: none;
      }
    }

    @include mq('sm') {
      top: 15px;
      bottom: auto;
      right: 25px;
    }

    @include mq('sm') {
      span {
        display: none;
      }
    }
  }

  &-header {
    height: calc(var(--photo-size) + 35px);
    padding-bottom: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--color-gray-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    @include mq('lg') {
      height: auto;
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 60px;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include mq('lg') {
        display: none;
      }
    }

    .container {
      display: grid;
      align-items: flex-end;
      grid-template-columns: 1fr var(--photo-size) 1fr;

      @include mq('lg') {
        grid-template-columns: 1fr auto;
        padding-top: 20px;
        padding-bottom: 10px;
      }

      @include mq('sm') {
        grid-template-columns: 1fr;
      }
    }

    &-left {
      padding-bottom: 5px;
      display: flex;
      justify-content: space-evenly;

      @include mq('lg') {
        order: 3;
        grid-column: 1 / -1;
        margin-top: 25px;
      }

      a {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        color: var(--color-text);
        --color: var(--color-text);
        text-transform: uppercase;
        text-decoration: none !important;

        @include mq('sm') {
          font-size: 14px;
        }

        svg {
          --icon-size: 25px;
          margin-right: 10px;
        }
      }
    }

    &__center {
      transform: translateY(20px);

      .person-detail__about {
        display: none;
      }

      @include mq('lg') {
        transform: translateY(0);
        order: 1;
        display: flex;

        .person-detail__about {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 0 0 20px;
          text-align: left;
        }

        .person-detail__name {
          font-size: 20px;
        }

        .person-detail__lifetime {
          font-size: 16px;
        }
      }

      @include mq('sm') {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__avatar {
      width: var(--photo-size);
      height: var(--photo-size);
      border: 10px solid #fff;

      @include mq('lg') {
        border: 0;
        flex: 0 0 var(--photo-size);
      }
    }

    &-right {
      padding-bottom: 5px;
      display: inline-flex;
      transform: translateX(-45px);

      @include mq('lg') {
        order: 2;
        transform: translateX(0);
      }

      @include mq('sm') {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }

      @include mq('xs') {
        margin-left: 0;
        margin-right: 0;
      }

      .person__mark {
        img {
          width: 90px;
          height: 90px;

          @include mq('xxl') {
            width: 70px;
            height: 70px;
          }

          @include mq('xs') {
            width: 50px;
            height: 50px;
          }
        }

        span {
          margin-top: 7px;
          font-size: 16px;

          @include mq('xs') {
            font-size: 14px;
          }
        }
      }
    }
  }

  &-body {
    margin-top: 30px;

    @include mq('lg') {
      margin-top: 50px;
    }
  }

  &__about {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include mq('lg') {
      display: none;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 30px;
  }

  &__lifetime {
    font-size: 20px;
    margin-top: 5px;
  }

  &__actions {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.person-actions {
  width: 150px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;

  @include mq('md') {
    margin-bottom: 40px;
  }

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-gray-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include mq('xs') {
      width: 80px;
      height: 80px;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 16px;
      background-color: var(--color-primary);
      color: #fff;
      font-weight: 600;

      &.red {
        background-color: var(--color-red);
      }

      @include mq('xs') {
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
    }

    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--color-text);
    text-align: center;
  }
}
