.search {
  &__mobile-trigger-filter {
    display: none;
    position: absolute;
    right: calc(var(--base-space) * 5 / 3);
    top: var(--base-space);
    --icon-size: 20px;

    @include mq("md") {
      display: block;
    }

    @include mq("sm") {
      right: calc(var(--base-space) * 4 / 3);
    }
  }

  .search__container {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: flex-start;
    grid-gap: var(--base-space);
    position: relative;

    @include mq('md') {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  @import "search/form";
  @import "search/result";
}