.sign-in {
  --width-sign-in: 450px;

  .content {
    padding: 0 !important;
  }

  footer {
    margin-top: 0;
    padding-right: 0 !important;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    @include mq("xxl") {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: var(--width-sign-in)
  }

  &-forms {
    width: 100%;

    &__tabs {
      display: flex;
    }

    &__tab {
      padding: 10px 25px;
      border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
      border: 1px solid var(--color-gray-light);
      border-bottom: none;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      font-weight: 600;
      text-decoration: none !important;

      &:not(:first-of-type) {
        margin-left: -1px;
      }

      &[aria-selected="false"] {
        background: var(--color-gray-light);
        color: var(--color-gray-dark);
      }
    }

    &__wrapper {
      padding: 60px;
      background: #fff;
      border: 1px solid var(--color-gray-light);
      border-top: none;
      border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);

      @include mq("sm") {
        padding: 40px;
      }
    }

    form {
      .form-actions {
        button {
          & + a {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

.sign-in-confirm {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: calc((var(--width-sign-in) - 50px) / -2);
  width: calc(var(--width-sign-in) - 50px);
  padding: 60px;
  background: #fff;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius-large);

  @include mq("sm") {
    padding: 40px;
    margin-left: 0;
    width: 100%;
    left: 0;
  }

  &__code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    @include mq("sm") {
      margin-left: -5px;
      margin-right: -5px;
    }

    .form-item_text-field {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 0;

      input {
        font-size: 25px;
        font-weight: 600;
        height: 55px;
        text-align: center;

        @include mq("sm") {
          padding: 5px;
          font-size: 20px;
          height: 55px;
        }
      }
    }
  }

  &__footer {
    text-align: center;
    margin-top: 20px;

    p {

    }

    .btn {

    }
  }
}