mixin checkbox(opts)
    - const { name, items, isFormItem, classes, hasError } = opts;

    .form-item_checkbox(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? ' form-item_has-error' : ''),
        class=classes
    )
        each item in items
            - const text = item.text;
            - const checked = item.checked ? item.checked : false;
            - const disabled = item.disabled ? item.disabled : false;

            label
                if disabled && checked
                    input(type="checkbox", id=name, name=name, checked, disabled)
                else if checked
                    input(type="checkbox", id=name, name=name, checked)
                else if disabled
                    input(type="checkbox", id=name, name=name, disabled)
                else
                    input(type="checkbox", id=name, name=name)
                span=text

        if hasError
            .form-item__error Текст ошибки в пять слов