mixin radio(opts)
    - const { name, items, checked, isFormItem, classes, hasError } = opts;

    .form-item_radio(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? 'form-item_has-error' : ''),
        class=classes
    )
        each item, key in items
            - const text = item.text;
            - const disabled = item.disabled ? item.disabled : false;

            label
                if disabled && key == checked
                    input(type="radio", id=name, name=name, checked, disabled)
                else if key == checked
                    input(type="radio", id=name, name=name, checked)
                else if disabled
                    input(type="radio", id=name, name=name, disabled)
                else
                    input(type="radio", id=name, name=name)
                span=text

        if hasError
            .form-item__error Текст ошибки в пять слов