mixin range(opts)
    - const { name, label, isFormItem, min, max, valMin, valMax, step, isTooltips, isHiddenInputs, classes, hasError } = opts;

    .form-item_range(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? ' form-item_has-error' : ''),
        class=classes,
        data-min=min,
        data-max=max,
        data-step=step,
        data-is-tooltips=isTooltips
    )
        if label
            label= label
        .form-item_range-inputs(aria-hidden=isHiddenInputs ? 'true' : 'false')
            input(id='range-'+name+'-min', type="text", name='range-'+name+'-min', value=valMin, placeholder=min)
            input(id='range-'+name+'-max', type="text", name='range-'+name+'-max', value=valMax, placeholder=max)
        .range-slider

        if hasError
            .form-item__error Текст ошибки в пять слов