mixin select(opts)
    - const { name, label, items, isFormItem, classes, hasError } = opts;

    .form-item_select(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? ' form-item_has-error' : ''),
        class=classes
    )
        if(label)
            label(for=name)= label
        select(name=name, id=name)
            each item in items
                option=item

        if hasError
            .form-item__error Текст ошибки в пять слов