mixin switch(opts)
    - var { label1, label2, isFormItem, classes, hasError } = opts;

    if label1 && label2
        .form-item_double-switch(
            class=(isFormItem ? 'form-item' : ''),
            class=(hasError ? ' form-item_has-error' : ''),
            class=classes
        )
            div
                span=label1
                input(type="checkbox", id=name, name=name)
                span=label2

            if hasError
                .form-item__error Текст ошибки в пять слов
    else
        .form-item_switch(
            class=(isFormItem ? 'form-item' : ''),
            class=(hasError ? ' form-item_has-error' : ''),
            class=classes
        )
            div
                input(type="checkbox", id=name, name=name)
                span=label1

            if hasError
                .form-item__error Текст ошибки в пять слов