mixin text-field(opts)
    - const { name, label, placeholder, type, disabled, isFormItem, classes, hasError } = opts;

    .form-item_text-field(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? ' form-item_has-error' : ''),
        class=classes
    )
        if label
            label(for=name)= label
        if disabled
            input(type=type ? type : 'text', id=name, name=name, placeholder=placeholder ? placeholder : '', disabled)
        else
            input(type=type ? type : 'text', id=name, name=name, placeholder=placeholder ? placeholder : '')

        if hasError
            .form-item__error Текст ошибки в пять слов
