mixin textarea(opts)
    - const { name, label, placeholder, disabled, isFormItem, classes, hasError } = opts;

    .form-item_textarea(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? ' form-item_has-error' : ''),
        class=classes
    )
        if(label)
            label(for=name)= label
        if disabled
            textarea(id=name, name=name, placeholder=placeholder ? placeholder : '', disabled)
        else
            textarea(id=name, name=name, placeholder=placeholder ? placeholder : '')

        if hasError
            .form-item__error Текст ошибки в пять слов