mixin upload-img(opts)
    - const { name, formats, isFormItem, classes, text } = opts;

    .form-item_upload-img(class=(isFormItem ? 'form-item' : ''), class=classes)
        label
            input(type='file', id=name, name=name, accept=formats)
            span=text ? text : 'Выберите файл'
            .form-item__background
        block