mixin upload-files(opts)
    - const { name, formats, accept, isFormItem, classes, multiple, hasError } = opts;

    .form-item_upload(
        class=(isFormItem ? 'form-item' : ''),
        class=(hasError ? ' form-item_has-error' : ''),
        class=classes
    )
        label
            if multiple
                input(type='file', id=name, name=name, multiple, accept=accept)
            else
                input(type='file', id=name, name=name, accept=accept)
            .form-item__unhighlight
                span.btn.btn-transparent Выберите файл
                span
                    | или перетащите сюда
                    if formats
                        i= ' ('+formats+')'
            .form-item__highlight
                span Отпустите кнопку мыши что-бы прикрепить файл

        if hasError
            .form-item__error Текст ошибки в пять слов

        .form-item__files
