.form-item_checkbox,
.form-item_radio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;

  &.form-item {
    margin-bottom: 7px;
  }

  label {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-right: 10px;
    transform: translateY(4px);
    cursor: pointer;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      cursor: pointer;
      transition: 0.15s ease-in-out;
      border-radius: var(--border-radius);
      border: 1px solid var(--color-gray);
    }

    &::after {
      transition: opacity 0.15s ease-in-out 0.05s;
      content: "✓";
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      top: 1px;
      left: 3px;
      opacity: 0;
      color: #fff;
    }

    &:checked {
      &::before {
        border: 9px solid var(--color-primary);
      }

      &::after {
        opacity: 1;
      }
    }

    &:disabled {
      cursor: not-allowed;

      & + span {
        cursor: not-allowed;
        color: var(--color-gray);
      }

      &:checked {
        &::before {
          border-color: var(--color-gray);
        }
      }
    }
  }

  &.form-item_has-error {
    border-radius: var(--border-radius);
    background-color: var(--color-red-10);
  }
}

.form-item_radio {
  input {
    &::before {
      @include rounded;
    }

    &::after {
      content: none;
    }

    &:checked {
      &::before {
        border-width: 6px;
      }
    }
  }
}