.form-item_upload {
  label {
    border-radius: var(--border-radius);
    border: 1px dashed var(--color-gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    cursor: pointer;
    background: transparent;
    position: relative;

    .btn {
      margin-left: 5px;
      margin-right: 5px;
      transition: none;

      & + span {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;

        i {
          font-style: normal;
        }
      }
    }

    .form-item__unhighlight {
      pointer-events: none;
      text-align: center;
    }

    .form-item__highlight {
      pointer-events: none;
      max-width: 80%;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  label:hover {
    border-style: solid;
    background: var(--color-background);

    .btn {
      border-color: var(--color-button-hover);
      background: var(--color-button-hover);
      color: #fff;
    }
  }

  &.highlight {
    label {
      border-style: solid;
      background: var(--color-background);
    }

    .form-item__unhighlight {
      visibility: hidden;
    }

    .form-item__highlight {
      visibility: visible;
    }
  }

  input {
    position: absolute;
    visibility: hidden;
    -webkit-appearance: none;
    appearance: none;
  }

  .form-item__files {
    margin-top: 10px;

    li {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 12px;
      font-weight: 600;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }

      & > svg {
        margin-right: 5px;
      }

      span {
        color: var(--color-gray);
        margin-left: 5px;
      }

      button {
        --color: var(--color-gray);
        margin-left: 25px;
        padding: 10px;

        svg {
          margin: 0;
          --icon-size: 8px;
        }

        &:hover {
          opacity: 0.75;
          --color: var(--color-red);
        }
      }
    }
  }
}
