.form-item {
  margin-bottom: var(--base-space);

  &_text-field, &_textarea, &_select, &_range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    label {
      font-weight: 600;
      margin-bottom: 5px;
      display: inline-block;
    }
  }

  &_has-error &__error {
    display: inline-block;
  }

  &__error {
    font-size: 12px;
    color: var(--color-red);
    display: none;
    margin-top: 5px;
  }
}

@import "text-field";
@import "textarea";
@import "select";
@import "checkbox-radio";
@import "switch";
@import "range";
@import "files-uploader";
@import "image-uploader";