.form-item_upload-img {
  --img-uploader-size: 100px;
  --img-uploader-font-size: 14px;

  label {
    border-radius: 150px;
    border: 1px dashed var(--color-gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    transition: 0.25s ease-in-out;
    width: var(--img-uploader-size);
    height: var(--img-uploader-size);
    overflow: hidden;
    position: relative;

    span {
      text-align: center;
      font-weight: 600;
      font-size: var(--img-uploader-font-size);
      position: relative;
    }

    &:before {
      display: flex;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
    }
  }

  label:hover {
    border-style: solid;

    span {
      z-index: 3;
    }

    &::before {
      z-index: 2;
      background: rgba(153, 204, 204, 0.2);
    }
  }

  input {
    position: absolute;
    visibility: hidden;
    -webkit-appearance: none;
    appearance: none;
  }

  .form-item__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}