.form-item_range {
  label {
    margin-bottom: 10px;
  }

  &[data-is-tooltips] {
    padding-bottom: 35px;

    .form-item__error {
      margin-top: 35px;
    }
  }

  &-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4%;
      height: 2px;
      background-color: rgba(var(--color-gray-dark-2), 0.3);
    }

    input {
      text-align: center;
      flex: 0 0 45%;
      max-width: 100px;
      padding: 10px var(--base-space);
      font-size: 14px;
      height: 35px;
      outline: none;
      border: 1px solid var(--color-gray-light);
      border-radius: var(--border-radius);

      &::placeholder {
        color: var(--color-gray);
      }

      &:hover, &:focus {
        border-color: var(--color-gray);
        color: var(--color-text);
      }
    }
  }
}