.form-item_select {
  select {
    position: relative;
    width: 100%;
    padding: 5px var(--base-space);
    font-size: 14px;
    height: 35px;
    outline: none;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-radius);

    &:hover, &:focus {
      border-color: var(--color-gray);
      color: var(--color-text);
    }
  }

  &.form-item_has-error {
    select {
      border-color: var(--color-red-70);
    }
  }
}