.form-item_switch,
.form-item_double-switch {

  & > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50px;
    transition: 0.15s ease-in-out;
    content: "";
    position: relative;
    border: 1px solid var(--color-gray);
    width: 38px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;

    &::after {
      @include rounded;
      transition: 0.15s ease-in-out;
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      background-color: var(--color-gray);
    }

    &:checked {
      border-color: var(--color-primary);

      &::after {
        background-color: var(--color-primary);
        transform: translateX(18px);
      }
    }
  }
}

.form-item_double-switch {
  input {
    margin-left: 10px;
    margin-right: 10px;
    border-color: var(--color-primary);

    &::after {
      background-color: var(--color-primary);
    }
  }
}