.form-item_text-field {
  input {
    width: 100%;
    padding: 10px var(--base-space);
    font-size: 14px;
    height: 35px;
    outline: none;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-radius);

    &::placeholder {
      color: var(--color-gray);
    }

    &:hover, &:focus {
      border-color: var(--color-gray);
      color: var(--color-text);
    }
  }

  &.form-item_has-error {
    input {
      border-color: var(--color-red-70);
    }
  }
}
