.form-item_textarea {
  display: flex;
  position: relative;

  textarea {
    @include scroll-bar;
    width: 100%;
    resize: none !important;
    padding: 10px var(--base-space);
    font-size: 14px;
    min-height: 60px;
    height: 60px;
    max-height: 120px;
    outline: none;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-radius);

    &::placeholder {
      color: var(--color-gray);
    }

    &:hover, &:focus {
      border-color: var(--color-gray);
      color: var(--color-text);
    }
  }

  &.form-item_has-error {
    textarea {
      border-color: var(--color-red-70);
    }
  }
}
