include ../../mixins/form/text-field.pug
include ../../mixins/form/range.pug

#search-form.search-form.card
    form.search-form__form
        .card-header
            h4.ma-0 Настройки поиска
            button.btn.btn-icon.search__mobile-close-filter(type="button")
                svg
                    use(xlink:href="#icon-cancel")
        .card-body
            +text-field({ name: 'surname', label: 'Фамилия', placeholder: 'Иванов', isFormItem: true })
            +text-field({ name: 'name', label: 'Имя', placeholder: 'Иван', isFormItem: true })
            +text-field({ name: 'patronymic', label: 'Отчество', placeholder: 'Иванович', isFormItem: true })

            hr

            +text-field({ name: 'place-of-birth', label: 'Место рождения', placeholder: 'Москва', isFormItem: true })
            +text-field({ name: 'place-death', label: 'Место смерти', placeholder: 'Москва', isFormItem: true })

            hr

            +range({name: 'years', min: 1900, max: 2021, label: 'Годы жизни', isFormItem: true })

        .card-footer
            button.btn.full-width
                svg
                    use(xlink:href="#icon-search")
                | Поиск
            a(href="javascript:document.querySelector('.search-form__form').reset()") Сбросить
