.search-results.card
    .card-header
        h2.ma-0 Результаты поиска
        button.btn.btn-icon.search__mobile-trigger-filter
            svg
                use(xlink:href="#icon-filter")

    .card-body
        ul.search-results__list
            each _ in Array(8)
                include search-result-item.pug