li.search-results-item
    a.user-avatar.search-results-item__img(href="javascript:;")
        img(src="https://via.placeholder.com/150x150" alt="Бойц Александр")
    .search-results-item__content
        h5.search-results-item__name
            a(href="javascript:;") Бойц Александр Владимирович
        .search-results-item__years 02.02.1980 ~ 15.12.1999
        .search-results-item__place-of-birth
            span Место рождения:
            | Красноярский край, Какой-то район, пос. Какое-то
        .search-results-item__place-death
            span Место смерти:
            | Красноярский край, Какой-то район, поc. Какое-то

        .drop-actions
            button.btn.btn-icon(data-drop-menu-trigger)
                svg
                    use(xlink:href="#icon-menu-kebab")
            +dropMenu(['Действие 1', 'Действие 2', 'Действие 3', 'Действие 4'], 'right')