include ./post-header.pug
include ./post-body.pug
include ./post-footer.pug
include ../comment/comment-list.pug

mixin post(opts)
    - const { type = 'text', comments = 0, answers = 0, isComments = true, isFavorite = false } = opts;

    .post.card
        .post-wrap
            +post-header()
            +post-body(type)
            if isComments
                +post-footer(isFavorite)
                +comments(comments, answers)