mixin post-footer(isFavorite)
    .post-footer
        .post-footer-actions
            button(aria-selected=(isFavorite ? 'true' : 'false'))
                svg
                    use(xlink:href="#icon-star")
                if isFavorite
                    | Убрать из избранного
                else
                    | В избранное
            button
                svg
                    use(xlink:href="#icon-comment")
                | Комментировать
