mixin post-body(type)
    .post-content
        .post-content__container
            case type
                when 'text'
                    p
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизма в науке, которые представляют собой яркий
                        | пример континентально-европейского типа политической культуры, будут объединены
                        | в целые кластеры себе подобных.
                    p
                        | Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское
                        | обеспечение нашей деятельности, в своём классическом представлении, допускает
                        | внедрение позиций, занимаемых участниками в отношении поставленных задач…
                    a.post-content__more Показать полностью...
                    span(aria-hidden="true")
                        p
                            | Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское
                            | обеспечение нашей деятельности, в своём классическом представлении, допускает
                            | внедрение позиций, занимаемых участниками в отношении поставленных задач…
                when 'image-text'
                    img(src="https://via.placeholder.com/1000x600")
                    p
                        | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                        | Кстати, сторонники тоталит ыаы варизма в науке, которые представляют собой яркий
                        | пример континентально-европейского типа политической культуры, будут объединены
                        | в целые кластеры себе подобных.
                when 'image'
                    img(src="https://via.placeholder.com/1000x600")
                when 'audio'
                    audio(controls)
                        source()
                when 'video'
                    video(controls)
                        source(src="https://www.youtube.com/embed/dQw4w9WgXcQ")
                when 'iframe'
                    iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" width="500" height="300")