include ../drop-menu.pug

mixin post-header()
    .post-header
        .post-header__image
            a.user-avatar(href="javascript:;")
                img(src='https://via.placeholder.com/100x100' alt='Леонил Крафт')
        .post-header__info
            h5.post-header__author
                a(href="javascript:;") Леонил Крафт
            .post-header__date 12 февраля 2010, 21:00
        .post-header__action
            button.btn.btn-icon(data-drop-menu-trigger)
                svg
                    use(xlink:href="#icon-menu-kebab")
            +dropMenu(['Удалить', 'Скрыть', 'Редактировать'], 'right')
