include ../../mixins/drop-menu.pug

#autoplay-posts.modal.autoplay-posts(role="dialog", aria-hidden="true")
    button.autoplay-posts__nav.autoplay-posts__nav-prev
        svg.arrow
            use(xlink:href="#icon-chevron-left")
    button.autoplay-posts__nav.autoplay-posts__nav-next
        svg.loader
            use(xlink:href="#icon-loader")
        svg.arrow
            use(xlink:href="#icon-chevron-right")
    .modal-wrap
        .modal-body
            .post.card
                .post__loader
                    span
                .post-wrap
                    .post-header
                        .post-header__image
                            a.user-avatar(href="javascript:;", data-post-user-avatar)
                                img(src='https://via.placeholder.com/100x100' alt='Леонил Крафт')
                        .post-header__info
                            h5.post-header__author
                                a(href="javascript:;", data-post-user-name) Леонил Крафт
                            .post-header__date(data-post-date) 12 февраля 2010, 21:00
                        .post-header__action
                            button.btn.btn-icon(data-drop-menu-trigger)
                                svg
                                    use(xlink:href="#icon-menu-kebab")
                            +dropMenu(['Удалить', 'Скрыть', 'Редактировать'], 'right')

                    .post-content
                        .post-content__container(data-post-content)

                    .post-footer
                        .post-footer-actions
                            button(aria-selected='true', data-post-favorite-button)
                                svg
                                    use(xlink:href="#icon-star")
                                | Убрать из избранного