include ../../mixins/modal.pug
include ../../mixins/form/textarea.pug

+modal('complaint', 'Пожаловаться')
    form.write-message__form
        +textarea({ name: 'message', placeholder: 'Введите сообщение...', isFormItem: true })

        .write-message__action
            button.btn(type="submit") Отправить