include ../../mixins/modal.pug

+modal('gifts', 'Подарки')
    .modal-gifts__wrap
        .check__list
            each price in [100, 200, 150, 300, 120]
                label.check-item
                    input(type="radio", name="gift")
                    .check-item__img
                        img(src="./images/gift.jpg" alt="Название подарка")
                    .check-item__price= price + ' рублей'

    .modal-gifts__action
        button.btn Отправить