include ../../mixins/modal.pug
include ../../mixins/form/textarea.pug

+modal('write-message', 'Новое сообщение')
    .write-message__user.mb-2
        .user-avatar
            img(src="https://via.placeholder.com/50x50" alt="Леонид Крафт")
        .write-message__user-name
            a(href="javascript:;") Леонид Крафт
    form.write-message__form
        +textarea({ name: 'message', placeholder: 'Введите сообщение...', isFormItem: true })

        .write-message__action
            button.btn(type="submit") Отправить