mixin alert(message, type, classes)
    if type == 'warning'
        .alert.alert_warning(class=classes)
            svg
                use(xlink:href="#icon-warning")
            span= message
    else if type == 'error'
        .alert.alert_error(class=classes)
            svg
                use(xlink:href="#icon-error")
            span= message
    else
        .alert.alert_success(class=classes)
            svg
                use(xlink:href="#icon-check")
            span= message
