mixin complaint()
    .complaint.card
        .card-body
            .complaint__text
                p
                    | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                    | Кстати, сторонники тоталит ыаы варизма в науке, которые представляют собой яркий
                    | пример континентально-европейского типа политической культуры, будут объединены
                    | в целые кластеры себе подобных.
                p
                    | Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское
                    | обеспечение нашей деятельности, в своём классическом представлении, допускает
                    | внедрение позиций, занимаемых участниками в отношении поставленных задач…

            .complaint-post(aria-expanded="false")
                a.complaint-post__header(javascript:;, data-text="Скрыть пост")
                    span Показать пост
                    svg
                        use(xlink:href="#icon-chevron-down")
                .complaint-post__content
                    .complaint-post__content-wrap.mt-3
                        block

        .card-footer.complaint__actions
            .spacer
            button.btn.btn-transparent Отклонить
            button.btn Принять