mixin dropMenu(list, placement, id)
    .drop-menu(id=id aria-hidden="true" data-placement=placement ? placement : 'left')
        nav.drop-menu-nav
            ul.drop-menu-list
                each item in list
                    li
                        a(href="javascript:;")= item