mixin layout-guest(title, pageClasses)
    <!DOCTYPE html>
    html(lang="ru")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title= title
        body.main-page-body
            .wrap-page(class=pageClasses)
                .wrap
                    include ../includes/header-guest.pug

                    .content
                        main
                            block


                include ../includes/footer.pug

            include ../includes/icons.pug

            script(src="/static.js")
            script(src="/autoplay-modal.js")