mixin modal(id, title, description)
    .modal(
        id='modal_'+id,
        class='modal_'+id
        role="dialog",
        aria-hidden="true"
    )
        .modal-wrap
            if(title || description)
                .modal-header
                    if(title)
                        .h4= title
                    if(description)
                        p= description

            .modal-body
                block
