mixin pagination()
    nav.pagination
        a.pagination__arrow.pagination__arrow-prev
            svg
                use(xlink:href="#icon-chevron-left")
        ul.pagination__pages
            li.pagination__page
                a(href="javascript:;") 1
            li.pagination__page.current
                span 2
            li.pagination__page
                a(href="javascript:;") 3
            li.pagination__page
                span ...
            li.pagination__page
                a(href="javascript:;") 9
            li.pagination__page
                a(href="javascript:;") 10
        a.pagination__arrow.pagination__arrow-next
            svg
                 use(xlink:href="#icon-chevron-right")