include mixins/layout.pug

+layout('Соболезнуют', 'condolences-people')
    .wall-body
        .container
            include includes/sidebar.pug

            .card
                .card-header
                    h2.ma-0 Соболезнуют
                .card-body
                    ul.users-list
                        each _ in Array(15)
                            li.user
                                .user-avatar
                                    img(src="https://via.placeholder.com/50x50" alt="Александра Бойц")
                                .user-name Александра Бойц