include mixins/layout.pug
include mixins/form/upload-img.pug
include mixins/form/text-field.pug

+layout('Создание/редактирование персоны', 'create-person')
    .container.container_small
        form.create-person__form
            .create-person-top
                .create-person-left
                    +upload-img({ name: 'avatar', text: 'Выбрите фото' })
                .create-person-right
                    +text-field({ name: 'surname', isFormItem: true, placeholder: 'Фамилия' })
                    +text-field({ name: 'name', isFormItem: true, placeholder: 'Имя' })
                    +text-field({ name: 'patronymic', placeholder: 'Отчество' })

            .create-person-middle
                .grid-2
                    +text-field({ name: 'date-of-birth', classes: 'create-person__dates', label: 'Дата рождения', type: 'date' })
                    +text-field({ name: 'date-death', classes: 'create-person__dates', label: 'Дата смерти', type: 'date' })
                    +text-field({ name: 'place-of-birth', label: 'Место рождения' })
                    +text-field({ name: 'place-death', label: 'Место смерти' })
                    +upload-img({ name: 'background', isFormItem: true, text: 'Нажмите для загрузки фонового изображения' })
                        // скрипт в static.js
                        button#select-from-gallery.btn.mt-2(type="button") Выбрать из галлереи

            .create-person-bottom
                button.btn Сохранить
