include mixins/layout.pug

+layout('Детальная страница', 'person-detail-page')
    .person-detail
        .person-detail-wrap
            .person-detail-header
                a.person-detail__edit.btn(href="javascript:;")
                    svg
                        use(xlink:href="#icon-edit")
                    span Изменить
                .person-detail-header__bg(style="background-image: url(./images/person-detail-bg.jpg)")
                .container
                    .person-detail-header-left
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-book")
                            | Книга памяти
                        a(href="javascript:;")
                            svg
                                use(xlink:href="#icon-star")
                            | Избранное
                    .person-detail-header__center
                        .person-detail-header__avatar.user-avatar
                            img(src="/images/person-wall-header-user-avatar.png")
                        .person-detail__about
                            .person-detail__name Доноварин Семен Петрович
                            .person-detail__lifetime 1.V.1972 - 31.VII.2000
                    .person-detail-header-right
                        .person__mark
                            img(src="/images/candle.png")
                            span 12
                        .person__mark
                            img(src="/images/flowers.png")
                            span 14

            .person-detail-body
                .container
                    .person-detail__about
                        .person-detail__name Доноварин Семен Петрович
                        .person-detail__lifetime 1.V.1972 - 31.VII.2000

                    .person-detail__actions
                        a.person-actions(href="javascript:;")
                            .person-actions__img
                                span 103
                                img(src="./images/person-icon-link.png")
                            h6.person-actions__title Поделиться ссылкой
                        a.person-actions(href="javascript:;")
                            .person-actions__img
                                span 103
                                img(src="./images/person-icon-my-list.png")
                            h6.person-actions__title Включить в мой список
                        a.person-actions(href="javascript:;")
                            .person-actions__img
                                span 103
                                img(src="./images/person-icon-cry.png")
                            h6.person-actions__title Помню, скорблю
                        a.person-actions(href="javascript:;")
                            .person-actions__img
                                span.red 12
                                img(src="./images/person-icon-candle.png")
                            h6.person-actions__title Зажечь свечу памяти
                        a.person-actions(href="javascript:;")
                            .person-actions__img
                                span.red 14
                                img(src="./images/person-icon-hands.png")
                            h6.person-actions__title Возложить...
