include mixins/layout.pug

+layout('Главная', 'person-wall-page')
    .wall
        .wall-wrap
            .wall-header
                .container
                    .wall-header-left
                        .wall-header__avatar.user-avatar
                            img(src="/images/person-wall-header-user-avatar.png")
                        .wall-header__content
                            .wall-header__name Доноварин Семен Петрович
                            .wall-header__lifetime 1.V.1972 - 31.VII.2000
                            .wall-header__views
                                | Посетителей:
                                span 4
                    .wall-header-right
                        a.person__mark(
                            href="javascript:;"
                            data-tippy-trigger="click",
                            data-tippy-interactive="true",
                            data-tippy-allowHTML="true",
                            data-tippy-placement="bottom",
                            data-tippy-content="<strong style='color: red'>Это HTML</strong>"
                        )
                            img(src="/images/candle.png")
                            span 12
                        a.person__mark(
                            href="javascript:;"
                            data-tippy-trigger="click",
                            data-tippy-interactive="true",
                            data-tippy-allowHTML="true",
                            data-tippy-placement="bottom",
                            data-tippy-content="<strong style='color: red'>Это HTML</strong>"
                        )
                            img(src="/images/flowers.png")
                            span 14

            .wall-body
                .container
                    include includes/sidebar.pug

                    include includes/posts.pug