include mixins/layout-with-menu.pug

+layout-with-menu('Главная', 'main-page')
    .container
        .description
            p
                | Здесь вы можете разместить страницу памяти о близких вам людях, о тех, кто был и
                | остается значим для вас.
            p
                | Так вы сможете не только сохранить память о них. Вы сможете разделить печаль
                | утраты с теми, кто также как и вы неравнодушен к их уходу. Вы сможете высказать
                | то, что не успели сказать, что скрыто в печальном молчании.
            p
                | И где бы вы ни находились теперь, в любой момент, когда есть связь, вы сможете
                | почтить их память,зайдя на их страницы.

        .person-detail
            .person-detail__actions
                .person-actions
                    .person-actions__img
                        img(src="./images/main-icon-1.png")
                    h6.person-actions__title Найти страницу памяти
                .person-actions
                    .person-actions__img
                        img(src="./images/main-icon-2.png")
                    h6.person-actions__title Создать страницу памяти
                .person-actions
                    .person-actions__img
                        img(src="./images/main-icon-3.png")
                    h6.person-actions__title Мой список памяти

        include ./includes/slider.pug