include mixins/layout.pug

+layout('Различные модальные окна', '')
    .container.container_small
        button.btn(data-fancybox data-src="#modal_write-message") Написать личное сообщение
        button.btn(data-fancybox data-src="#modal_complaint") Написать жалобу

    include includes/modal/write-message.pug
    include includes/modal/complaint.pug