include mixins/layout.pug
include mixins/form/text-field.pug

+layout('Список диалогов', 'profile profile_messenger-list')
    .wall-body
        .container
            include includes/profile/sidebar.pug

            .card
                .card-header
                    h2.ma-0 Список диалогов
                    form.search-dialog
                        +text-field({ name: 'search-dialog', placeholder: 'Поиск...' })
                        button.btn.btn-icon
                            svg
                                use(xlink:href="#icon-search")
                .card-body
                    .messenger-list
                        each _ in Array(10)
                            include includes/profile/messanger-list-item.pug