include mixins/layout.pug
include mixins/form/text-field.pug
include mixins/form/upload-img.pug

+layout('Настройки аккаунта', 'profile profile_settings')
    .wall-body
        .container
            include includes/profile/sidebar.pug

            .card
                .card-header
                    h2.ma-0 Настройки профиля
                .card-body
                    form
                        h4.mb-3 Общие настройки
                        +upload-img({ name: 'avatar', text: 'Выбрите фото', isFormItem: true })
                        +text-field({ name: 'name', label: 'Имя', isFormItem: true })
                        +text-field({ name: 'phone', label: 'Телефон', type: 'tel', isFormItem: true })
                        +text-field({ name: 'email', label: 'E-mail', type: 'email', isFormItem: true })
                        button.btn Сохранить

                    form.mt-6
                        h4.mb-3 Смена пароля
                        +text-field({ name: 'old-password', label: 'Старый пароль', type: 'password', isFormItem: true })
                        +text-field({ name: 'new-password', label: 'Новый пароль', type: 'password', isFormItem: true })
                        +text-field({ name: 'confirm-password', label: 'Подтвердите пароль', type: 'password', isFormItem: true })
                        button.btn Изменить
