include mixins/layout.pug

+layout('Список памяти', 'profile profile_memory-list')
    .wall-body
        .container
            include includes/profile/sidebar.pug

            .card
                .card-header
                    h2.ma-0 Список памяти
                .card-body
                    ul
                        each _ in Array(8)
                            include includes/profile/memory-profile-card.pug