include mixins/layout.pug

+layout('Уведомления', 'profile profile_notifications')
    .wall-body
        .container
            include includes/profile/sidebar.pug

            .card
                .card-header
                    h2.ma-0 Настройки уведомлений
                    span.card-header__subtitle Подзаголовок  несколько слов
                .card-body
                    ul
                        each _ in Array(6)
                            include ./includes/profile/notification-profile-card.pug