include mixins/layout.pug
include mixins/form/textarea.pug

+layout('Диалог', 'profile profile_messenger-dialog')
    .wall-body
        .container
            include includes/profile/sidebar.pug

            .card
                .card-header
                    a.btn.btn-icon(href="javascript:;")
                        svg
                            use(xlink:href="#icon-chevron-left")
                    .h2.ma-0
                        .user-avatar
                            img(src="/images/user-avatar-2.png")
                        .user-name Василий Петров
                .card-body
                    .chat
                        .chat-body
                            .chat-messages
                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                img(src="/images/user-avatar-2.png")
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                img(src="/images/user-avatar-2.png")
                                            .chat-message__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                img(src="/images/user-avatar-2.png")
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                // without-avatar
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                img(src="/images/user-avatar-2.png")
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                // without-avatar
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                img(src="/images/user-avatar-2.png")
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                                .chat-group-message
                                    .chat-message
                                        .chat-message__header
                                            .chat-message__user-avatar.user-avatar
                                                // without-avatar
                                            .chat-header__info
                                                .chat-message__user-name Василий Петров
                                                .chat-message__date 20.05.2021
                                            .chat-message__actions.drop-actions
                                                button.btn.btn-icon(data-drop-menu-trigger)
                                                    svg
                                                        use(xlink:href="#icon-menu-kebab")
                                                +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
                                        .chat-message__body
                                            | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                                            | Кстати, сторонники тоталит ыаы варизм

                            .chat-new-message-field
                                form.chat-new-message-field__form
                                    +textarea({name: 'message', placeholder: 'Введите сообщение...'})
                                    button.btn.btn-icon(type="submit")
                                        svg
                                            use(xlink:href="#icon-send")