include mixins/layout-guest.pug

include mixins/form/text-field.pug

+layout-guest('Вход', 'sign-in')
    .container
        .sign-in__container
            .sign-in__wrapper
                .sign-in-forms
                    .sign-in-forms__tabs(role="tabs")
                        a.sign-in-forms__tab(href="javascript:;", role="tab", aria-selected="true") Вход
                        a.sign-in-forms__tab(href="javascript:;", role="tab", aria-selected="false") Регистрация
                    .sign-in-forms__tabs-content
                        .sign-in-forms__wrapper(aria-hidden="false")
                            form.sign-in-form
                                +text-field({ name: 'sign-in-tel', label: 'Номер телефона', type: 'tel', isFormItem: true })
                                +text-field({ name: 'sign-in-password', label: 'Пароль', type: 'password', isFormItem: true })
                                .form-actions
                                    button.btn Войти
                                    a(href="javascript:;") Забыли пароль?
                        .sign-in-forms__wrapper(aria-hidden="true")
                            form.sign-up-form
                                +text-field({ name: 'sign-up-name', label: 'Ваше имя', isFormItem: true })
                                +text-field({ name: 'sign-up-tel', label: 'Номер телефона', type: 'tel', isFormItem: true })
                                +text-field({ name: 'sign-up-email', label: 'E-mail', type: 'email', isFormItem: true })
                                +text-field({ name: 'sign-up-password', label: 'Пароль', type: 'password', isFormItem: true })
                                .form-actions
                                    button.btn Зарегистрироваться

                .sign-in-confirm
                    form.sign-in-confirm__code
                        +text-field({name: 'symbol-1'})
                        +text-field({name: 'symbol-2'})
                        +text-field({name: 'symbol-3'})
                        +text-field({name: 'symbol-4'})
                    .sign-in-confirm__footer
                        p Отправить код повторно через 60 сек
                        button.btn Вернуться назад