include mixins/layout.pug

include mixins/form/text-field.pug
include mixins/form/textarea.pug
include mixins/form/select.pug
include mixins/form/checkbox.pug
include mixins/form/radio.pug
include mixins/form/switch.pug
include mixins/form/range.pug
include mixins/form/upload-files.pug
include mixins/form/upload-img.pug

include mixins/alert.pug

include mixins/drop-menu.pug

include mixins/pagination.pug

+layout('Ui', 'ui-kit')
    .container
        br
        br
        article
            h2 Кнопки
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")
                .card
                    .card-body
                        ol
                            li
                                a(href="/") Страница с лентой
                            li
                                a(href="/detail-page.html") Детальная страница
                            li
                                a(href="/main.html") Главная
                            li
                                a(href="/create-person.html") Создание персоны
                            li
                                a(href="/modals-list.html") Модальные окна
                            li
                                a(href="/complaints.html") Жалобы
                            li
                                a(href="/profile-memory-list.html") Список памяти
                            li
                                a(href="/profile-messenger-list.html") Месенджер. Список
                            li
                                a(href="/profile-messenger-dialog.html") Месенджер. Диалог
                            li
                                a(href="/profile-notifications.html") Управление уведомлениями
                            li
                                a(href="/profile-settings.html") Настройки в профиле
                            li
                                a(href="/search.html") Страница поиска
                            li
                                a(href="/sign-in-up.html") Авториация/Регистрация
                            li
                                a(href="/condolences-people.html") Соболезнуют
                            li
                                a(href="/ui-kit.html") ui-kit

            h2 Элементы формы
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")
                .card
                    .card-header
                        h4.ma-0 Тектовые строчные поля
                    .card-body
                        +text-field({ name: 'text-field-1', label: 'Input text with label', isFormItem: true })
                        +text-field({ name: 'text-field-2', placeholder: 'Input text without label', isFormItem: true })
                        +text-field({ name: 'text-field-3', placeholder: 'Input text disabled', disabled: true, isFormItem: true })
                        +text-field({ name: 'text-field-4', placeholder: 'Input datetime', type: 'datetime-local', isFormItem: true })
                        +text-field({ name: 'text-field-5', placeholder: 'Input with error', hasError: true })

                .card
                    .card-header
                        h4.ma-0 Тектовые области
                    .card-body
                        +textarea({ name: 'textarea-1', label: 'Textarea with label', isFormItem: true })
                        +textarea({ name: 'textarea-2', placeholder: 'Textarea without label', isFormItem: true })
                        +textarea({ name: 'textarea-3', placeholder: 'Textarea with error', hasError: true })

                .card
                    .card-header
                        h4.ma-0 Выбор
                    .card-body
                        +select({ name: 'select1', label: 'Select', isFormItem: true, items: ['Option 1', 'Option 2', 'Option 3', 'Option 4'] })
                        +select({ name: 'select2', label: 'Select with error', items: ['Option 1', 'Option 2', 'Option 3', 'Option 4'], hasError: true })

                .card
                    .card-header
                        h4.ma-0 Чекбокс
                    .card-body
                        +checkbox({ name: 'checkbox-1', isFormItem: true, items: [{ text: 'single checkbox' }] })
                        +checkbox({ name: 'checkbox-2', isFormItem: true, items: [{ text: 'group checkbox 1' }, { text: 'group checkbox 2' }, { text: 'group checkbox 3' }] })
                        +checkbox({ name: 'checkbox-3', isFormItem: true, items: [{ text: 'disabled checkbox', disabled: true }] })
                        +checkbox({ name: 'checkbox-4', isFormItem: true, items: [{ text: 'disabled checked checkbox', disabled: true, checked: true }] })
                        +checkbox({ name: 'checkbox-5', hasError: true, items: [{ text: 'group checkbox 1' }, { text: 'group checkbox 2' }, { text: 'group checkbox 3' }] })

                .card
                    .card-header
                        h4.ma-0 Радиокнопки
                    .card-body
                        +radio({ name: 'radio-1', isFormItem: true, items: [{ text: 'single radio' }] })
                        +radio({ name: 'radio-2', isFormItem: true, items: [{ text: 'group radio 1' }, { text: 'group radio 2' }, { text: 'group radio 3' }] })
                        +radio({ name: 'radio-3', isFormItem: true, items: [{ text: 'disabled radio', disabled: true }] })
                        +radio({ name: 'radio-4', items: [{ text: 'disabled checked radio', disabled: true }], checked: 0 })

                .card
                    .card-header
                        h4.ma-0 Свичи
                    .card-body
                        +switch({ label1: 'single switch', isFormItem: true })
                        +switch({ label1: 'no switch', label2: 'yes switch', isFormItem: true })
                        +switch({ label1: 'no switch', label2: 'yes switch', hasError: true })

                .card
                    .card-header
                        h4.ma-0 Range
                    .card-body
                        +range({ name: 'range', isFormItem: true, min: 20, max: 100, label: 'Range default' })
                        +range({ name: 'range', isFormItem: true, min: 20, max: 100, label: 'Range without fields', isHiddenInputs: true })
                        +range({ name: 'range', min: 20, max: 100, label: 'Range with tooltips', isHiddenInputs: true, isTooltips: true })
                        +range({ name: 'range', min: 20, max: 100, label: 'Range with tooltips and error', isHiddenInputs: true, isTooltips: true, hasError: true })

                .card
                    .card-header
                        h4.ma-0 Input files
                    .card-body
                        p Класс по загрузке файлов объявлен глобально (т.е. в window)
                        p Для того что бы получить все загруженные файлы можно воспользоваться функцией
                        p
                            | <mark>filesUploader.getFiles('имя поля input')</mark> - для получения файлов поля
                            br
                            | если поле для множества файлов (multiple) вернет массив
                            br
                            | так же можно указать второй параметр индекс если нужно получить 1 файл из массива
                        br
                        +upload-files({ name: 'files', multiple: true })
                        +upload-files({ name: 'files2', multiple: true, hasError: true })

                .card
                    .card-header
                        h4.ma-0 Input avatar
                    .card-body
                        +upload-img({ name: 'avatar' })

                .card
                    .card-header
                        h4.ma-0 Уведомления
                    .card-body
                        +alert('Успешный успех', null, 'mb-3')
                        +alert('Предупреждение на несколько слов', 'warning', 'mb-3')
                        +alert('Какой-то текст большой для ошибки возможно', 'error')

            h2 Кнопки
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")

                .card
                    .card-header
                        h4.ma-0 Кнопки
                    .card-body
                        button.btn Кнопка 1
                        button.btn.btn-transparent Кнопка 2

            h2 Отступы
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")

                .card
                    .card-header
                        h4.ma-0 Отступы
                    .card-body
                        p Внутренние и внешние отступы задаются от 0px до 30px (кратно 5px - базовому значению) и auto
                        p Отступы не разбиты по медиазапросам, а существуют в одном варианте (если необходимо можно разбить на 2-3 медиазапроса отдельно)
                        p Имеют все направления:
                            ul
                                li вертикальные - y, например, my-2, или py-1, или py-auto
                                li горизонтальные - x, например, mx-2, или px-1, или px-auto
                                li одно напрвление - t, r, b, l, например, mt-2, или pb-1, или pl-auto
                                li все - a, например, ma-2, или pa-1, или pa-auto

            h2 Текстовые элементы
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")
                .card
                    .card-header
                        h4.ma-0 Заголовки
                    .card-body
                        h1 Задается тегом h1 или классом .h1
                        h2 Задается тегом h2 или классом .h2
                        h3 Задается тегом h3 или классом .h3
                        h4 Задается тегом h4 или классом .h4
                        h5 Задается тегом h5 или классом .h5
                        h6 Задается тегом h6 или классом .h6

                .card
                    .card-header
                        h4.ma-0 Списки
                    .card-body
                        ul
                            li Элемент списка 1
                            li Элемент списка 2
                            li Элемент списка 3

                        ol
                            li Элемент списка 1
                            li Элемент списка 2
                            li Элемент списка 3

            h2 Пагинация
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")
                .card
                    .card-body
                        +pagination()


            h2 Все иконки
            .mb-6(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); grid-gap: 30px")
                .card
                    .card-header
                        - const example = '<svg><use xlink:href="#id-icon"></svg>';
                        h5 Все иконки в svg  вставляются сообтветственно <mark>#{example}</mark>
                    .card-body
                        span.ma-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-home")
                            span.pl-1 - #icon-home
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-search")
                            span.pl-1 - #icon-search
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-chat")
                            span.pl-1 - #icon-chat
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-send")
                            span.pl-1 - #icon-send
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-menu")
                            span.pl-1 - #icon-menu
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-cancel")
                            span.pl-1 - #icon-cancel
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-cancel-bold")
                            span.pl-1 - #icon-cancel-bold
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-add-folder")
                            span.pl-1 - #icon-add-folder
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-book")
                            span.pl-1 - #icon-book
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-folder")
                            span.pl-1 - #icon-folder
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-star")
                            span.pl-1 - #icon-star
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-comment")
                            span.pl-1 - #icon-comment
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-menu-kebab")
                            span.pl-1 - #icon-menu-kebab
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-clip")
                            span.pl-1 - #icon-clip
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-filter")
                            span.pl-1 - #icon-filter
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-notification")
                            span.pl-1 - #icon-notification
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-settings")
                            span.pl-1 - #icon-settings
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-list")
                            span.pl-1 - #icon-list
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-check")
                            span.pl-1 - #icon-check
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-error")
                            span.pl-1 - #icon-error
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-entrance")
                            span.pl-1 - #icon-entrance
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-add")
                            span.pl-1 - #icon-add
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-information")
                            span.pl-1 - #icon-information
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-avatar")
                            span.pl-1 - #icon-avatar
                        span.mr-2(style="display: inline-block;")
                            svg
                                use(xlink:href="#icon-edit")
                            span.pl-1 - #icon-edit