@import "base/mixins";
@import "base/variables";
@import "base/normalize";
@import "base/typography";
@import "base/icons";
@import "base/animate";

@import "tools/grid";
@import "tools/space";

@import "components/plugins/not-ui-slider";

@import "components/buttons";
@import "components/user-avatar";
@import "components/footer";
@import "components/header";
@import "components/form/form";
@import "components/sidebar";
@import "components/post/post";
@import "components/modal";
@import "components/dropdown";
@import "components/drop-menu";
@import "components/chat/chat";
@import "components/chat/friends-list";
@import "components/comments/comments";
@import "components/complaint";
@import "components/alert";
@import "components/fixed-actions";
@import "components/users-list";
@import "components/pagination";

[aria-hidden="true"] {
  display: none;
}

.wrap-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrap {
	flex-grow: 1;
}

.content {
  margin-top: var(--content-margin-top);
  padding-right: var(--friend-list-width);

  @include mq('lg') {
    padding-right: 0;
  }
}

.swiper-slider {
  position: relative;

  .swiper-button {
    border: 0;
    background: none;
    color: var(--color-primary);
    --swiper-navigation-size: 25px;
  }
}

.swiper-container {
  --swiper-theme-color: var(--color-primary)
}

@import "pages/person-wall/wall";
@import "pages/person-detail";
@import "pages/sign-in-up";
@import "pages/search";
@import "pages/create-person";
@import "pages/complaints";
@import "pages/profile/index";
@import "pages/main";
