include comment.pug
include ../form/textarea.pug

mixin comments(quantity, answers)
    .comments
        form.comments__new-message
            .comment__image.user-avatar
                img(src="https://via.placeholder.com/50x50" alt="Александра Бойц")
            +textarea({ name: 'message', placeholder: 'Введите сообщение...' })
            button.btn.btn-icon(type="submit")
                svg
                    use(xlink:href="#icon-send")
        if quantity
            .comments-list
                each _ in Array(quantity)
                    +comment(answers)
            a.comments__more(href="javascript:;") Показать все комментарии