mixin answer()
    .comment.comment_answer
        a.comment__image.user-avatar
            img(src="https://via.placeholder.com/50x50" alt="Леонил Крафт")
        .comment__body
            h5.comment__user-name
                a Леонил Крафт
                .comment-parent
                    | ᐅ
                    a(href="javascript:;") Александра Бойц
            .comment__message
                p
                    | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                    | Кстати, сторонники тоталит ыаы варизм
            .comment__body-footer
                .comment__date Сегодня, 15:20
                span •
                a.comment__write-answer(href="javascript:;") Ответить
