include ./comment-answer.pug

mixin comment(quantityAnswers)
    .comment
        .comment__actions.drop-actions
            button.btn.btn-icon(data-drop-menu-trigger)
                svg
                    use(xlink:href="#icon-menu-kebab")
            +dropMenu(['Ответить', 'Переслать', 'Удалить'], 'right')
        a.comment__image.user-avatar
            img(src="https://via.placeholder.com/50x50" alt="Александра Бойц")
        .comment__body
            h5.comment__user-name
                a Александра Бойц
            .comment__message
                p
                    | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                    | Кстати, сторонники тоталит ыаы варизм
                p
                    | Внезапно, диаграммы связей будут в равной степени предоставлены сами себе.
                    | Кстати, сторонники тоталит ыаы варизм
                .comment__body-footer
                    .comment__date Сегодня, 15:20
                    span •
                    a.comment__write-answer(href="javascript:;") Ответить

            if quantityAnswers
                .comment__answers
                    each _ in Array(quantityAnswers)
                        +answer()