.container-fluid {
  width: 100%;
  padding-left: var(--base-space);
  padding-right: var(--base-space);
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 var(--base-space);
	margin: 0 auto;
	position: relative;

	@include mq("xl") {
		max-width: 980px;
	}

	@include mq("lg") {
		max-width: 100%;
	}
}

.container_small {
  width: 100%;
  max-width: 700px;
  padding: 0 var(--base-space);
  margin: 0 auto;
  position: relative;

  @include mq("md") {
    max-width: 100%;
  }
}

.grid-2 {
  display: grid;
  grid-gap: var(--base-space);
  grid-template-columns: repeat(2, 1fr);

  @include mq('md') {
    grid-template-columns: 1fr;
  }
}

.full-width {
	width: 100%;
}

.card {
  border-radius: var(--border-radius-large);
  background-color: #fff;
  border: 1px solid var(--color-gray-light);
  margin-bottom: calc(var(--base-space) * 4 / 3);

  &-header,
  &-body,
  &-footer {
    position: relative;
    padding: calc(var(--base-space) * 4 / 3) calc(var(--base-space) * 5 / 3);

    @include mq("sm") {
      padding: calc(var(--base-space) * 4 / 3);
    }
  }

  &-header {
    border-bottom: 1px solid var(--color-gray-light);

    &__subtitle {
      font-size: 16px;
      display: inline-block;
      margin-top: 5px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    border-top: 1px solid var(--color-gray-light);
  }
}

.spacer {
  flex-grow: 1;
}