$directions: (
  top: 't',
  bottom: 'b',
  left: 'l',
  right: 'r',
  vertical: 'y',
  horizontal: 'x',
  all: 'a'
);

$sizes: (
  0: $baseSpace * 0,
  1: $baseSpace * 1,
  2: $baseSpace * 2,
  3: $baseSpace * 3,
  4: $baseSpace * 4,
  5: $baseSpace * 5,
  6: $baseSpace * 6,
  auto: auto
);

@each $size, $sizeValue in $sizes {
  @each $direction, $directionValue in $directions {
    .m#{$directionValue}-#{$size} {
      @if $direction == vertical {
        margin-top: $sizeValue !important;
        margin-bottom: $sizeValue !important;
      } @else if $direction == horizontal {
        margin-left: $sizeValue !important;
        margin-right: $sizeValue !important;
      } @else if $direction == all {
        margin: $sizeValue !important;
      } @else {
        margin-#{$direction}: $sizeValue !important;
      }
    }

    .p#{$directionValue}-#{$size} {
      @if $direction == vertical {
        padding-top: $sizeValue !important;
        padding-bottom: $sizeValue !important;
      } @else if $direction == horizontal {
        padding-left: $sizeValue !important;
        padding-right: $sizeValue !important;
      } @else if $direction == all {
        padding: $sizeValue !important;
      } @else {
        padding-#{$direction}: $sizeValue !important;
      }
    }
  }
}