.profile_memory-list {
  .memory-profile {
    &-item {
      --size-avatar: 70px ;
      display: grid;
      grid-template-columns: var(--size-avatar) 1fr 100px;
      padding-top: calc(var(--base-space) * 4 / 3);
      padding-bottom: calc(var(--base-space) * 4 / 3);

      @include mq('sm') {
        grid-template-columns: var(--size-avatar) 1fr;
        grid-gap: 0 10px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-gray-light);
      }

      &__img {
        --size-avatar: 70px !important;
        flex: 0 0 var(--size-avatar);
        width: var(--size-avatar);
        height: var(--size-avatar);
        border-color: var(--color-primary);

        @include mq('lg') {
          --size-avatar: 80px;
        }

        @include mq('sm') {
          --size-avatar: 40px;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
        position: relative;
        flex-grow: 1;
        padding-left: var(--base-space);
      }

      &__name {
        margin-bottom: 10px;

        @include mq("sm") {
          padding-right: 15px;
        }

        a {
          color: var(--color-text);

          @include mq("sm") {
            font-size: 14px;
          }
        }
      }

      &__years {
        color: var(--color-gray);
        font-weight: 600;

        @include mq("sm") {
          font-size: 12px;
        }
      }

      &__del {
        margin-top: 17px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        button {
          color: var(--color-red-70);
          --color: var(--color-red-70);

          &:hover span {
            text-decoration: underline;
          }
        }

        @include mq('sm') {
          margin-top: 0;
          grid-column: 1 / -1;
          justify-self: flex-end;
        }
      }
    }
  }
}