.profile_messenger-dialog .content {
  .card {
    overflow: hidden;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: calc(var(--base-space) * 2 / 3) calc(var(--base-space) * 5 / 3);

    @include mq('md') {
      padding: calc(var(--base-space) * 2 / 3);
    }

    .h2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .user-avatar {
        flex: 0 0 40px;
        margin-right: 15px;
      }

      @include mq('md') {
        .user-name {
          font-size: 16px;
        }
      }
    }

    .btn {
      margin: -5px 10px -5px -5px;
      padding: 10px;
      --color: #333;

      @include mq('md') {
        margin-right: 0;
      }
    }
  }

  .chat {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    transform: translate(0, 0);
    visibility: visible;
    box-shadow: none;
    z-index: initial !important;
    margin: calc(-1 * var(--base-space) * 4 / 3) calc(-1 * var(--base-space) * 5 / 3);

    &-body {
      display: flex;
      height: calc(100vh - var(--header-height) - var(--content-margin-top) - 70px);
    }

    .chat-message__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .chat-message__date {
      font-weight: 600;
      margin-left: 10px;
      font-size: 10px;
      color: var(--color-gray);
    }

    &-messages {
      padding-right: calc(var(--base-space) * 5 / 3);
      padding-left: calc(var(--base-space) * 5 / 3);
    }

    &-message .chat-message__body {
      margin-right: 150px;

      @include mq('lg') {
        margin-right: 0;
      }

      @include mq('sm') {
        font-size: 13px;
      }
    }
  }
}