.profile_messenger-list .content {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-dialog {
    position: relative;
    flex-grow: 1;
    max-width: 300px;
    margin-left: 40px;

    input {
      padding-right: 32px;
    }

    .btn {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translate(0, -50%);
    }

    @include mq('sm') {
      display: none;
    }
  }
}

.messenger-list {
  margin: calc(var(--base-space) * -4 / 3) 0;
}

.messenger-list-item {
  text-decoration: none !important;
  color: var(--color-text);
  margin: 0 calc(var(--base-space) * -5 / 3);
  padding: var(--base-space) calc(var(--base-space) * 5 / 3);
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: var(--base-space);

  @include mq('lg') {
    grid-template-columns: 75px 1fr;
  }

  @include mq('sm') {
    grid-template-columns: 50px 1fr;
    margin: 0 calc(var(--base-space) * -4 / 3);
    padding: 10px;
  }

  &:hover {
    background: #f7f7f7;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-light);
  }

  &__img {
    width: 100px;
    height: 100px;

    @include mq('lg') {
      width: 75px;
      height: 75px;
    }

    @include mq('sm') {
      width: 50px;
      height: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;

    @include mq('lg') {
      font-size: 16px;
    }

    @include mq('sm') {
      font-size: 14px;
      order: 1;
    }
  }

  &__last-message {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 10px;
    align-items: center;

    @include mq('lg') {
      grid-template-columns: 30px 1fr;
      grid-gap: 5px;
      margin-top: 5px;

      .user-avatar {
        width: 30px;
        height: 30px;
      }
    }

    @include mq('sm') {
      order: 3;
    }

    span {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 350px;
      font-size: 12px;

      @include mq('lg') {
        -webkit-line-clamp: 1;
        max-width: 300px;
      }
    }
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-gray);

    @include mq('lg') {
      font-size: 12px;
    }

    @include mq('lg') {
      position: relative;
      order: 2;
    }
  }
}
