.profile_notifications {
  .notification-profile {
    &-item {
      --size-avatar: 70px ;
      display: grid;
      grid-template-columns: var(--size-avatar) 1fr 210px;
      grid-gap: 15px;
      padding-top: calc(var(--base-space) * 4 / 3);
      padding-bottom: calc(var(--base-space) * 4 / 3);

      @include mq('md') {
        grid-template-columns: var(--size-avatar) 1fr;
        grid-gap: 15px 10px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-gray-light);
      }

      &__img {
        --size-avatar: 70px !important;
        flex: 0 0 var(--size-avatar);
        width: var(--size-avatar);
        height: var(--size-avatar);
        border-color: var(--color-primary);

        @include mq('lg') {
          --size-avatar: 80px;
        }

        @include mq('sm') {
          --size-avatar: 40px;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        flex-grow: 1;

        @include mq('lg') {
          padding: 0;
        }
      }

      &__name {
        margin-bottom: 10px;

        @include mq("sm") {
          padding-right: 15px;
        }

        a {
          color: var(--color-text);

          @include mq("sm") {
            font-size: 14px;
          }
        }
      }

      &__years {
        color: var(--color-gray);
        font-weight: 600;

        @include mq("sm") {
          font-size: 12px;
        }
      }

      &-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > :not(:last-child) {
          margin-bottom: 10px;
        }

        @include mq('md') {
          grid-column: 2 / 3;
        }

        @include mq('sm') {
          grid-column: 1 / 3;
        }
      }
    }
  }
}